[2019-04-25 20:53] rafaehlers commented on #1306
Why not set a flag to remove the limit as well? Adding another limit will only partially solve this "need".

[2019-04-25 20:58] zackkatz commented on #1306
Sounds reasonable. @soulseekah ?

[2019-04-27 09:17] soulseekah commented on #1305
The filter was only called if the "Show as Link" setting was on. Fixed.

[2019-04-30 16:33] soulseekah opened #1307 "is_field_hidden caching with checkbox merge tags"
One of the weirdest issues I've ever seen.

https://secure.helpscout.net/conversation/811458088/19877/

`GF_Field_Checkbox::get_value_merge_tag` uses `GFFormsModel::is_field_hidden` which is cached for all entries. This is bad for us. As our users utilize merge tags across many entries on a page some checkboxes are hidden and cached as hidden. If the first entry has the checkbox hidden then all th

[2019-04-30 16:35] soulseekah commented on #1307
I suspect that we can reproduce this outside of a View even, across pages (single entry views in the backed). I'll try to investigate deeper and provide more information.

[2019-04-30 19:04] rafaehlers opened #1308 "Move Featured Entries to the Top is breaking the Search (again)"
TBD
GV 2.3.1 and FE 2.0.3

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/995529792029955/1120648228242242)

[2019-04-30 19:04] rafaehlers commented on #1308
https://secure.helpscout.net/conversation/837418733/20397/

[2019-04-30 20:51] rafaehlers opened #1309 "Add a filter to replace the text "You do not have permission to edit this entry. Go back.""
Located in these files:

[code]

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/995529792029955/1120664615516155)

[2019-04-30 20:52] rafaehlers commented on #1309
https://secure.helpscout.net/conversation/840417438/20441/

[2019-05-01 00:53] rafaehlers commented on #983
https://secure.helpscout.net/conversation/840878795/20449/

[2019-05-01 13:49] soulseekah commented on #1309
Use Loco Translate for this.

[2019-05-01 13:49] #1309 closed

[2019-05-03 04:02] rafaehlers opened #1310 "When Inline Edit is activated on a DataTables View the approval icons don't show"
When IE is activated on a DT View:

![image](https://user-images.githubusercontent.com/1222472/57119246-f4902c80-6d3e-11e9-9903-e15b6ad5f754.png)

Toggling IE off:

![image (1)](https://user-images.githubusercontent.com/1222472/57119247-f9ed7700-6d3e-11e9-8951-701cf69510b5.png)

Tested on
GV 2.3.1
DT 2.3.4
IE 1.3.1

[2019-05-03 04:30] rafaehlers opened #1311 "The combination of Search Everything (S. Bar) and Any Form Field contains return no entries"
## Search Bar
![image](https://user-images.githubusercontent.com/1222472/57119725-bdbc1580-6d42-11e9-8ae2-1e56f1cc4951.png)

## Advanced Filters

![image](https://user-images.githubusercontent.com/1222472/57119727-c6145080-6d42-11e9-8e7f-9952c5fdfad7.png)

## Table Output
![image](https://user-images.githubusercontent.com/1222472/57119750-e0e6c500-6d42-11e9-9d7b-c0dede6a4bbc.png)

Makes the search

[2019-05-03 04:34] rafaehlers commented on #1311
https://secure.helpscout.net/conversation/842927656/20493/

[2019-05-03 16:04] rafaehlers opened #1312 "The new approval field scrolls back to top after being clicked"
Here's a video showing the behavior: https://monosnap.com/file/MIfqHf7iTbyMk9zyBN8G5wqUyChvT0

Tested on GV 2.3.1

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/995529792029955/1121098071682814)

[2019-05-03 16:05] rafaehlers commented on #1312
https://secure.helpscout.net/conversation/843487678/20504

[2019-05-03 16:05] rafaehlers commented on #1310
https://secure.helpscout.net/conversation/843487678/20504

[2019-05-03 20:50] jlgrisham opened #1314 "Embedded entry differs from single entry view"
When embedding an entry into a post or page, not all fields from the single entry view are displayed. The fields that are missing don't appear whether the entry was created before or after the fields were added to the view.

Single entry view:

![image](https://user-images.githubusercontent.com/48255575/57163810-3ad9a000-6dc0-11e9-9a15-98e791f745d8.png)

Embedded in post:

![image](https://user-im

[2019-05-03 21:03] zackkatz commented on #1314
@jlgrisham Can you be more specific regarding the fields that are missing?

Seems like the List field and Delete Entry field?

The reason that's helpful to know is because it might be an issue with those specific fields.

[2019-05-03 21:06] zackkatz commented on #1314
@jlgrisham Also, it'd be helpful to have more details in the replication steps. For example, did you embed with oEmbed or with the `[gventry]` shortcode? The more details, the better.

[2019-05-03 21:16] zackkatz commented on #1307
It looks like this may also be this issue: https://secure.helpscout.net/conversation/844464396/20533/

[2019-05-03 21:19] jlgrisham commented on #1314
The fields that are missing are a single column list field that accepts multiple values, a multi column list field, and the Delete Entry field.

The entry was embedded by creating a new post and pasting the entry URL.

[2019-05-07 02:12] rafaehlers commented on #1218
https://secure.helpscout.net/conversation/846577493/20565/

[2019-05-07 16:09] rafaehlers commented on #840
Fixed on develop branch 👍

[2019-05-08 03:27] rafaehlers opened #1315 "Feature Request: Highlight an entire row if a condition is match"
Not sure exactly how we would do that, but some users want the option to color an entire row in the table if a field value matches certain criteria.

[2019-05-08 03:27] rafaehlers commented on #1315
https://secure.helpscout.net/conversation/847185271/20577

[2019-05-09 14:17] verysiberian commented on #1312
Hello! I realize that I may be an edge case here, but this issue is particularly disruptive to the workflow I have planned for an event coming up soon in which multiple volunteers will be clicking to approve GravityView entries as a mechanism for documenting attendance at a conference. Do you expect that this bug will be fixed soon? I ask because I'll probably have to hire someone on Codeable to d

[2019-05-09 15:04] zackkatz commented on #1312
That’s no good! Can you share your browser details? Please copy and paste from here: https://www.whatsmybrowser.org/

@mrcasual let’s make sure this works!

[2019-05-09 15:13] verysiberian commented on #1312
Thank you!

https://whatsmybrowser.org/b/K4STX2S

[2019-05-09 15:19] verysiberian commented on #1312
Also, FYI, it happens on Safari (iOS) and in Chrome on Mac, e.g.,

https://whatsmybrowser.org/b/FURXFFM

[2019-05-10 20:30] jlgrisham commented on #1297
Another customer using date_updated in Views:

https://secure.helpscout.net/conversation/845853107/20549/

[2019-05-11 21:00] verysiberian commented on #1312
If it helps, this bug is not present in GravityView 2.3. I just temporarily reverted to that version until there is a fix.

[2019-05-15 13:06] soulseekah commented on #1271
Does it not work? Probably fixes #1299 as well?

[2019-05-15 14:05] soulseekah commented on #1285
We need to write acceptance tests first, please. Can @mrcasual help with these?

[2019-05-16 16:20] soulseekah commented on #984
I don't think we can have a `{sequence}` merge tag, unfortunately. The context is not passed into merge tags, which means that we have no idea what the context around is. It's a different problem. So let's hold on the merge tag for now.

[2019-05-16 16:30] zackkatz commented on #984
Makes sense—a field is good.

[2019-05-16 16:33] soulseekah commented on #984
Just need to finish up on the single view tests and we can merge in a bit. Exciting.

[2019-05-17 03:57] rafaehlers commented on #983
Somewhat related: https://github.com/gravityview/Advanced-Filter/issues/73

[2019-05-19 05:07] pfkellogg commented on #1195
Not sure if you are interested but here is link of rough video of my plugin that extracts glikerts for radar charting, line charting, disorder analysis and gauge scoring in a GravityView: https://www.youtube.com/watch?v=L1eNrvEUeMQ

[2019-05-20 13:20] rafaelcabo commented on #1195
Hi, @pfkellogg  Could you please give info where to get your plugin, and an explanation about how the setting up works? Thanks in advance, Rafael

[2019-05-21 14:23] verysiberian commented on #1312
Hey, any possible ETA on this one?

[2019-05-21 22:35] rafaehlers opened #1317 "Can't edit a Post Custom Field set up as a File Upload field."
It's impossible to modify a custom field (from Post Fields) set up as a file upload field on the Edit Entry page of the View.

Some people use this type of field as a File Upload field incorrectly. The value of these fields can't be modified later.

Since: GV 2.3.2

Related: https://docs.gravitykit.com/article/245-editable-post-fields

[2019-05-21 22:35] rafaehlers commented on #1317
https://secure.helpscout.net/conversation/858894028/20772

[2019-05-21 23:38] zackkatz commented on #1312
Hey @verysiberian You can use this build, which fixes the issue: https://share.gravityview.co/cM5E9N+

Let me know if it doesn't work for you; it works for me.

[2019-05-21 23:38] #1312 closed

[2019-05-21 23:39] zackkatz commented on #1312
This'll also be included in the next minor update.

[2019-05-22 00:47] verysiberian commented on #1312
Thank you very much! This solves the problem.

[2019-05-23 00:22] zackkatz opened #1318 "Feedback on Gutenberg Blocks plugin"
Please share all issues you find with the Blocks plugin here as comments.

Here’s the Gutenberg Blocks plugin: https://share.gravityview.co/aYN9Aw+

[2019-05-23 00:22] zackkatz opened #1590 "Feedback on Gutenberg Blocks plugin"
Please share all issues you find with the Blocks plugin here as comments.

Here’s the Gutenberg Blocks plugin: https://share.gravityview.co/aYN9Aw+

Things to know:

- What doesn’t work?
- What should be done differently?
- What can be improved?

Note: I've installed the plugin on debug.gravityview.co.

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/995529792029955/112425369

[2019-05-23 00:25] zackkatz commented on #1318
- [ ] The logo is should be updated to be the retina version

[2019-05-23 00:54] rafaehlers commented on #1318
- [ ] Sort by View name, since we won't have pagination here

![image](https://user-images.githubusercontent.com/1222472/58218099-19434880-7cdc-11e9-9a88-912556049293.png)

[2019-05-23 14:28] soulseekah commented on #1318
I can't even seem to activate the plugin in any way, maybe something wrong with the plugin header but it's not showing up as a plugin on a fresh install of WordPress.

[2019-05-23 14:47] soulseekah commented on #1318
`gravityview_block_render_gravityview` is too verbose, can be done in a foreach loop for better maintainability. Same for `gravityview_block_render_gravityview_details`, the whole empty, esc, sanitize thing can be reused. Same for `gravityview_block_render_gventry`, `gravityview_block_render_gv_entry_link` and `gravityview_block_render_gvfield`.

Otherwise the code looks great.

[2019-05-28 15:28] soulseekah commented on #1306
I need someone to hide the new `csv_nolimit` checkbox in JS. @zackkatz

[2019-05-30 13:23] soulseekah opened #1319 "Require `unfiltered_html` capability to edit Views"
┆Issue is synchronized with this [Asana task](https://app.asana.com/0/995529792029955/1125167416572003)

[2019-06-02 13:10] soulseekah commented on #1319
This is a major breaking change. Unfiltered HTML has to be given to non-administrators in single-site mode and to non-superadministrators in multisite mode in order to access the Views menu.

This is very important to understand: @rafaehlers @jlgrisham @zackkatz

[2019-06-02 13:15] soulseekah commented on #1319
Use the `gravityview/security/require_unfiltered_html` filter to disable this feature.

`add_filter( 'gravityview/security/require_unfiltered_html', '__return_false' ); // Kittens died`

[2019-06-03 21:38] rafaehlers opened #1320 "Apply filters to Search Bar to allow dynamic population of some fields"
TBD

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/995529792029955/1125634550311937)

[2019-06-05 17:10] zackkatz commented on #1319
We need to write a doc about this:

- How does this affect users who already have `edit_gravityview` capabilities?
- What is the best way to add `unfiltered_html` capability for a user?
- Anything else?

[2019-06-09 16:16] pfkellogg commented on #1195
Hi Rafael,

We are planning to release the plugin for sale this month, so I will make a
new video and keep you informed.

Thanks,
Patrick

On Mon, May 20, 2019 at 8:20 AM rafaelcabo <notifications@github.com> wrote:

[2019-06-11 04:39] rafaehlers opened #1321 "Can't use the Merge Tag as the label of a field"
On a List View (which should work according to this: https://docs.gravityview.co/article/72-working-with-field-labels ) we can't use the value of another field as a label of a column:

![image](https://user-images.githubusercontent.com/1222472/59244130-82d2ba80-8be9-11e9-8a5b-8abb2148d10b.png)

![image](https://user-images.githubusercontent.com/1222472/59244176-be6d8480-8be9-11e9-9378-b5da7a093f04

[2019-06-11 04:40] rafaehlers commented on #1321
https://secure.helpscout.net/conversation/845166888/20544/

[2019-06-12 00:40] rafaehlers opened #1322 "Widgets are not being translated"
![image](https://user-images.githubusercontent.com/1222472/59315695-33e06000-8c91-11e9-973f-b76534c69a4f.png)

Even though these strings are properly translated into our .po/.mo file.

wp-content\plugins\gravityview\includes\widgets\class-gravityview-widget-pagination-info.php:

[code]

Tested on GV 2.3.2

[2019-06-12 00:55] rafaehlers commented on #1322
https://secure.helpscout.net/conversation/876289458/21092/

[2019-06-12 01:41] rafaehlers opened #1323 "Sort on Table View is not working"
Sometimes it doesn't work when there's a search bar (reported by a user) and sometimes it simply doesn't sort at all (on my test website).

GV 2.3.2

[2019-06-12 01:41] rafaehlers commented on #1323
https://secure.helpscout.net/conversation/875973599/21087?folderId=408730

[2019-06-13 22:00] jaspekang commented on #1323
same issue here.

[2019-06-18 03:20] rafaehlers opened #1324 "The Page Size widget breaks the Search Bar results"
## Pre-search:

![image](https://user-images.githubusercontent.com/1222472/59651122-05fe8e00-915f-11e9-9827-c9b7d8cd593d.png)

## After searching:

![image](https://user-images.githubusercontent.com/1222472/59651076-d2bbff00-915e-11e9-99d9-a37ae7dc335e.png)

## Changing the page size to 50:

![image](https://user-images.githubusercontent.com/1222472/59651094-e5cecf00-915e-11e9-883d-7a14cd58b480.pn

[2019-06-18 03:22] rafaehlers commented on #1324
https://secure.helpscout.net/conversation/880697424/21174

[2019-06-18 04:48] rafaehlers commented on #1304
Also for DataTables https://secure.helpscout.net/conversation/881886525/21194/ (please check ticket for user debug).

[2019-06-19 18:02] #1289 closed

[2019-06-19 20:20] rafaehlers opened #1325 "GV is using server time and not local time (specified on WP) for Adv Filters"
That's a problem when we try to filter by relative dates, like "today" or "yesterday".

Related:
https://secure.helpscout.net/conversation/879035833/21149/
https://secure.helpscout.net/conversation/741332771/18359/

Tested on GV 2.3.2

[2019-06-20 16:07] soulseekah opened #1326 "Bad time with Gravity Forms deactivated"
Lot's of issues in all our plugins if Gravity Forms is deactivated all of a sudden.

[2019-06-20 17:18] zackkatz commented on #1326
What do you mean "deactivated all of a sudden"?

[2019-06-20 17:25] soulseekah commented on #1326
Activate GF.
Activate GV.
Deactivate GF.
WSOD.

[2019-06-20 18:11] zackkatz commented on #1323
@rafaehlers Can you provide steps to reproduce?

[2019-06-21 09:13] soulseekah opened #1327 "Search all does not work with choice detection in GF"
`GF_Query::get_global_condition` is producing some pretty weird stuff for global conditions. Tests in 6339d0f9.

https://secure.helpscout.net/conversation/861806675/20842?folderId=2915930

[2019-06-24 12:31] endurtech commented on #676
There is always that one other guy... who wants the opposite. How can we remove the GravityView completely from the Admin Bar? Thank you.

[2019-06-24 12:33] soulseekah commented on #676
Please contact support@gravityview.co with your current license key.

[2019-06-24 12:35] endurtech commented on #676
Figured it out. Just add the following css: #wp-admin-bar-gravityview{display:none!important;}

[2019-06-25 03:50] rafaehlers commented on #840
The new code introduced on the latest version by @soulseekah doesn't expect field IDs which are noninteger on conditional logic rules on line 1961 of this file: `/gravityview/includes/extensions/edit-entry/class-edit-entry-render.php`

`​$value = GFAPI::get_field( $the_form, $rule['fieldId'] )->get_value_export( $this->entry );`

`$rule['fieldId']` can sometimes be:

[code]

[code]

That generates

[2019-06-25 11:22] soulseekah commented on #840
I don't think it's a good solution and may get logical issues to pop up.

`$field['id']` is not equal to `$rule['fieldId']` they're different things, so your comparison value will end up being different. I was trying to write some tests and couldn't get the old ones to pass because you're starting to compare different fields all of a sudden.

I suggest you revert the fix as the condition values ch

[2019-06-25 21:18] rafaehlers commented on #1271
https://secure.helpscout.net/conversation/864992651/20889

[2019-06-25 21:26] rafaehlers commented on #1271
https://secure.helpscout.net/conversation/886478096/21268/

[2019-06-25 21:35] rafaehlers opened #1328 "GV is not recognizing the license level"
Even after typing the correct license, GV can't identify the level, therefore you won't be able to install the plugins.

### User report:

### Affected:
https://secure.helpscout.net/conversation/887511526/21286/
https://secure.helpscout.net/conversation/887399621/21284/
https://secure.helpscout.net/conversation/886693612/21272/

[2019-06-26 14:22] soulseekah commented on #1271
This seems to work very well for me. I've taken a lot of time to test it.

However, I think I know what might be going on, and I'll need you to check, @rafaehlers
DataTables caches the selected column order so after refreshing the page it takes the configuration from Session Storage instead of the dtConfig that we pass it.

This is the `stateSave`, we use it actively to make sure that DT stays on

[2019-06-26 15:00] soulseekah commented on #840
Pushed a fix. Can you please test on the target websites? Only that file was changed you can grab it from here: https://raw.githubusercontent.com/gravityview/GravityView/0cccc6bb9e65eb978d76181f5b460f352cf0fbcd/includes/extensions/edit-entry/class-edit-entry-render.php

[2019-06-26 21:33] zackkatz opened #1329 "Add front-end subscription cancellation functionality"
There is no easy way for users to cancel their Gravity Forms subscriptions from the front-end.

The code is available in `GFPaymentAddOn::ajax_cancel_subscription()`; we would need to make a GravityView field available for forms with subscriptions.

- Check if a form has a subscription payment configured
- Add the field if so
- In the field, generate an AJAX request
- Clone the `ajax_cancel_subscr

[2019-06-26 22:41] zackkatz commented on #1328
Wasn't able to reproduce.

I think this is likely a caching issue—can you have them de-activate and re-activate the license key?

[2019-06-27 00:15] rafaehlers commented on #840
@soulseekah that fixes it. @zackkatz let's release whenever.

[2019-06-27 00:26] rafaehlers commented on #1271
@soulseekah you're right! Session Storage keeps the column ID and the sort order from the last time sorting on the table was used, that's why refreshing the page doesn't make it sort by the View Settings. What are the next steps now?

[2019-06-27 21:42] rafaehlers commented on #1271
https://secure.helpscout.net/conversation/889267164/21321

[2019-06-27 22:57] rafaehlers commented on #1305
@soulseekah that's still the case though.

[2019-07-02 04:39] rafaehlers commented on #1271
https://secure.helpscout.net/conversation/892030810/21358/

[2019-07-02 18:36] zackkatz commented on #1264
Fixed—the issue is the textdomain of the plugin changed, but I didn't update the server with the next information.

[2019-07-02 18:36] #1264 closed

[2019-07-02 22:19] zackkatz commented on #1326
That only fixed one error. Still a big problem. Seems to go back to 8ad7c928c077a453ec75de2ae95fcc15e72d3e1b

[2019-07-03 00:07] rafaehlers commented on #1322
https://secure.helpscout.net/conversation/889916628/21328/

[2019-07-03 03:06] rafaehlers commented on #1304
https://secure.helpscout.net/conversation/891701420/21356

[2019-07-03 07:25] soulseekah commented on #1271
Turning off the state caching functionality will help with all of these. But will introduce an issue where a refresh of the page will reset the view back to page 1 with the set sorting. I highly doubt anyone will ever want this tradeoff.

The way to do this is via the `gravityview_datatables_js_options` filter.
They can set `stateSave` to false in the array.

Hope this helps, @rafaehlers

[2019-07-03 08:14] soulseekah commented on #1304
Related https://github.com/gravityview/GravityView/issues/1327

[2019-07-03 08:14] soulseekah commented on #1327
Duplicate of #1304 closing.

[2019-07-03 08:14] #1327 closed

[2019-07-03 09:05] soulseekah commented on #1304
This is an issue with Gravity Forms' GF_Query as far as I can tell from my earlier debugging sessions. Will try to figure it out.

[2019-07-04 01:14] rafaehlers commented on #1271
https://secure.helpscout.net/conversation/894492094/21392

[2019-07-04 06:52] rafaehlers commented on #1323
@zackkatz here's another example on a Table View where sort is not working at all: https://secure.helpscout.net/conversation/894930635/21401/

[2019-07-04 07:48] rafaehlers commented on #1304
https://secure.helpscout.net/conversation/890095857/21330

[2019-07-06 10:05] soulseekah commented on #1304
@rafaehlers have you managed to test this fix? My backend tests are passing.

[2019-07-06 10:35] soulseekah commented on #1326
I don't think we should even be loading core at all. All of our extensions should be checking for GV and WSODing. That would be the correct way to go about this. I'm still experimenting.

[2019-07-06 14:21] zackkatz commented on #1326
Yes, except not WSODing. Failing with a message saying that they require GV, as it used to.

[2019-07-08 14:46] soulseekah commented on #1326
Yes, that's what I mean sorry. Right now I can't reproduce the issue, your fix seems to have done it. Which extension fails?

[2019-07-09 22:44] soulseekah commented on #1326
DataTables still fails with WSOD. We need to test all extensions with GV active and GF inactive.

[2019-07-10 20:16] rafaehlers commented on #1271
https://secure.helpscout.net/conversation/899523548/21487/

[2019-07-12 05:09] zackkatz opened #1330 "{sequence} Merge Tag shouldn't increment when processed inside the same entry"
When adding `{sequence}` merge tag to the Custom CSS field setting, the value increments.

I don't know how to fix this—I tried! This is certainly related to 9156e4b6a and 5912776d8 and https://gravityview.slack.com/archives/G727B06MB/p1562872075384100?thread_ts=1562870707.372000&cid=G727B06MB

### The numbering is off.
![](https://share.gravityview.co/rWPpuo+)

### Why? The Custom CSS Class is se

[2019-07-12 16:51] soulseekah commented on #1330
I think I have an elegant fix that seems to work. Your tests pass without modifications.

[2019-07-12 16:53] zackkatz commented on #1330
I was wondering if that would work!! Thanks, @soulseekah

[2019-07-12 20:29] zackkatz commented on #1330
Now this is the problem: the View has two entries sometimes and three entries other times. 🤕

![](https://share.gravityview.co/t5HcYY+)

[2019-07-12 20:33] zackkatz commented on #1330
But that's a different issue—I believe the main bug is now fixed.

[2019-07-12 20:33] #1330 closed

[2019-07-15 18:05] rafaehlers opened #1331 "Add "Admin Label" to Custom Content fields"
When the user has several Custom Content fields on the View Editor and it doesn't use front-end labels, then it can be difficult to know, just from looking at the Editor, to identify which field that relates to:

![image](https://user-images.githubusercontent.com/1222472/61237901-e3d23e80-a711-11e9-95d7-912fe3ddfd6e.png)

[2019-07-15 18:07] rafaehlers commented on #1331
https://secure.helpscout.net/conversation/902561510/21531/

[2019-07-15 20:05] JurriaanK commented on #1331
+1!

[2019-07-16 21:55] rafaehlers commented on #1271
Leaving this here: https://gist.github.com/rafaehlers/2182c05594772af245db630047646428

[2019-07-17 19:00] #1326 closed

[2019-07-17 19:00] #1321 closed

[2019-07-17 21:27] rafaehlers commented on #1136
https://secure.helpscout.net/conversation/901275492/21510

[2019-07-18 20:14] rafaehlers opened #1333 "Editing an entry tied to a User Registration create feed logs out the user"
It seems like this old issue is back , and now it's not related to the password field on the Edit Entry page.

## Steps to reproduce

1. Create a form and set a create feed on User Registration
2. Create a View tied to that form
3. Register a new WP user using that form
4. Log on the website
5. Edit any field from this user using the View
6. The user is logged out of the website

## Versions

GV 2

[2019-07-18 20:14] rafaehlers commented on #1333
https://secure.helpscout.net/conversation/906562583/21610/

[2019-07-18 20:15] rafaehlers commented on #1333
According to one of our users:

[2019-07-19 04:39] endurtech commented on #1333
[https://www.youtube.com/watch?v=VSfL8m4lUF0](https://www.youtube.com/watch?v=VSfL8m4lUF0)

[2019-07-25 20:43] rafaehlers commented on #1271
[code]

[2019-07-29 22:43] rafaehlers opened #1334 "Feature Request: UR add-on filter to only display activated users"
A create feed, in user Registration Add-on, allows a WP User from being activated later, not during form submission. Perhaps, that will be a good filter for the Advanced Filter extension: only display entries where the user has activated their accounts (not pending ones).

![image](https://user-images.githubusercontent.com/1222472/62087705-106d7680-b239-11e9-9d71-19fedd79f4cf.png)

[2019-07-29 22:43] rafaehlers commented on #1334
https://secure.helpscout.net/conversation/915111315/21763

[2019-07-30 08:32] soulseekah opened #1335 "GP Populate Anything"
Does not work.

https://secure.helpscout.net/conversation/910830114/21686/

[2019-07-30 19:49] mantasmacenas commented on #1307
Hello guys, I'm the "lucky" guy who found this. Any luck with updating or fixing this? It does have a big impact on the product that we are developing...

[2019-08-01 21:13] zackkatz commented on #1323
@soulseekah This issue is caused by this code:

https://github.com/gravityview/GravityView/blob/master/future/includes/class-gv-view.php#L982-L985

When accessing this View URL:
`https://example.com/view/vib-listing/?sort[20]=asc`

These sorts never get applied:

[code]

[2019-08-01 21:16] zackkatz commented on #1323
And tests are still green when commenting that section out…

[2019-08-01 22:21] zackkatz commented on #1323
@jaspekang The issue should be fixed with this: https://share.gravityview.co/34t0ig - please test.

[2019-08-01 22:32] #984 closed

[2019-08-09 11:26] soulseekah commented on #1304
a060f10f120e56080b0c734a157055b3ec313d18 breaks some things reopening

[2019-08-09 22:03] rafaehlers opened #1337 "Detect if Gravity Forms is installed"
At this moment, this Fatal Error is thrown:

[2019-08-09 22:32] zackkatz commented on #1337
Frontend? Steps to reproduce please.

[2019-08-09 23:41] rafaehlers commented on #1323
@zackkatz that fixed it on https://secure.helpscout.net/conversation/923653886/21924

[2019-08-12 06:53] rafaehlers commented on #1337
Back end. Just trying to activate GravityView without Gravity Forms installed.

[2019-08-13 01:27] jaspekang commented on #1323
Thanks @zackkatz
It's working perfectly.

[2019-08-14 21:51] rafaehlers commented on #1335
https://secure.helpscout.net/conversation/923772406/21930

[2019-08-16 23:53] #1337 closed

[2019-08-20 23:40] rafaehlers commented on #1323
That didn't work here: https://secure.helpscout.net/conversation/879485389/21157

[2019-08-24 00:26] rafaehlers opened #1339 "Conflict with Constant Contact Forms"
When https://wordpress.org/plugins/constant-contact-forms/ is installed, on opening the View editor, this pop-up shows up:

![image](https://user-images.githubusercontent.com/1222472/63629972-8c669e80-c5ec-11e9-9998-cfcc3b8be611.png)

[2019-08-24 00:28] rafaehlers commented on #1339
This might be on their end, actually, since "no conflict" removes scripts that they might be loading.

[2019-08-26 12:56] soulseekah commented on #1286
The merge tag doesn't appear to be working at all and I can't find a version where it does. Could be a GF issue.

[2019-08-27 08:00] soulseekah commented on #1286
Found out the reason. Unrelated.

Reproduced:

![image](https://user-images.githubusercontent.com/685880/63752432-e64fb880-c8b9-11e9-899f-dda2d4371aeb.png)

[2019-08-27 11:27] soulseekah commented on #1286
I've seen this before here https://github.com/gravityview/Math/issues/29

[2019-08-27 11:44] soulseekah commented on #1286
So the quick fix might be to do something like this:

[code]

This is definitely a Math issue. I'm going to close this, refer to the corresponding Math issue linked in my previous response.

[2019-08-27 11:44] #1286 closed

[2019-08-29 01:13] rafaehlers commented on #1230
The same is true for Date fields split in MM, DD and YY

[2019-08-29 10:41] soulseekah commented on #930
I would change the `created_by` to the user doing the cloning, but we should certainly have a filter to override and allow users to set the creator to anyone they like, and not only that but all the fields. Maybe through an action (`gravityview/entry/duplicated`) that they can then do a `GFAPI::update_entry` call. Or have it configurable in the field settings.

I think just reloading the page with

[2019-08-29 10:46] soulseekah commented on #1315
I would suggest using the row class filters in our renderers. They all have access to the current entry, which they can check the conditions of and apply a certain class on.

[code]

[2019-08-29 11:00] soulseekah commented on #1322
![image](https://user-images.githubusercontent.com/685880/63935048-5fd7da00-ca65-11e9-92ee-cae4633a3534.png)

It's looking good for me. Which language are you testing?

[2019-08-29 11:28] soulseekah commented on #1305
@rafaehlers are you sure you have turned off secure download links?

It works well for me with:

[code]

Remember, no lightboxes work if download links are secured for the field.

Or does foobox work with secure links?

[2019-08-29 15:25] soulseekah commented on #1314
Is there a database dump I can get for this? A HelpScout ticket perhaps? @jlgrisham

[2019-08-29 15:47] soulseekah commented on #1292
Okay so hidden form fields will still be shown on edit and view screens unless they're explicitly hidden and restricted to a certain role from the View settings (not the Form settings). Can we agree on this?

It is important for anyone to be able to edit a hidden field if the View is setup to do so. I'll make some further testing but can we come up with a rigid specification for how hidden fields

[2019-08-29 15:53] soulseekah commented on #1333
Related to #1225

[2019-08-29 16:29] zackkatz commented on #1292
Here's what I'm thinking:

- If Edit Entry fields are not configured (showing all fields): Hidden fields should remain hidden, but included in the form output.
- **If Edit Entry fields are configured**:  Hidden fields should be shown based on the ["Make visible only to logged-in users?" field setting](https://share.gravityview.co/VDggQ2).
- **Both** should still be overrideable using the `gravityv

[2019-08-29 17:17] soulseekah commented on #1292
Makes a lot of sense to me, personally.

[2019-08-29 17:23] zackkatz commented on #1292
Okay, let's go with that outline, @soulseekah

[2019-08-29 18:53] soulseekah commented on #1292
We also have a *Hide empty fields* view setting. How will that affect the above?

[2019-08-29 18:57] zackkatz commented on #1292
It won't—that's for frontend, not Edit Entry.

[2019-08-29 19:04] soulseekah commented on #1333
I'm unable to reproduce with UR 4.3, care to test @endurtech?

https://s19.aconvert.com/convert/p3r68-cdx67/wm0hz-fnfyg.gif

[2019-08-29 19:24] soulseekah commented on #1292
Wording isn't really clear on that, is it? Are we sure?

[2019-08-29 20:14] zackkatz commented on #1292
Yes, I'm sure. That setting isn't shown in the Edit Entry field settings.

[2019-08-29 20:24] endurtech commented on #1333
Happy to give it a try. Will reply back after testing it later today. Thank you.

[2019-08-29 20:55] rafaehlers commented on #1322
@soulseekah es_ES

[2019-08-30 18:00] soulseekah commented on #1292
Okay, this is done. Please test accordingly.

[2019-09-02 13:49] soulseekah commented on #1322
es_ES is not translated as far as I can see. All the strings in the .po file are empty.

[2019-09-03 14:10] soulseekah commented on #1230
Are you sure? I'm pretty sure we do not split the dates at all, they're not stored in a split format either. Can you please send me a screenshot of what you mean?

[2019-09-03 14:39] soulseekah commented on #1230
I have the following prototype:

[code]

It will theoretically calculate the time value in seconds which we can then sort by. This will have to be integrated into GF_Query for time values when sorting.

[2019-09-04 10:18] soulseekah commented on #1230
Okay, so the above won't work as they're not kept separate. The query has to be different. `SUBSTRING_INDEX` incoming...

[2019-09-04 11:20] soulseekah commented on #1230
Okay, we now have merged timesort! The UI needs some fixing, though, I'll see if I can do this and we can test and close the issue :) this was very fun!

[2019-09-04 13:05] soulseekah commented on #1230
![image](https://user-images.githubusercontent.com/685880/64255672-834dc980-cf2a-11e9-99ef-f6f180cb708f.png)

UI done as well I believe.

@rafaehlers can you please test and let me know how it goes? I'd like you to try out primary Date + secondary Time as well. It's going to be amazing!!!

[2019-09-05 00:57] rafaehlers opened #1341 "Number precision format is not working"
This option:

![image](https://user-images.githubusercontent.com/1222472/64303513-f1ac7f00-cf5e-11e9-9a42-7f7de6806ef1.png)

doesn't work:

![image](https://user-images.githubusercontent.com/1222472/64303522-fa04ba00-cf5e-11e9-8f74-8e4ad6e377bf.png)

Tested on GV 2.4.1.1

[2019-09-05 15:31] soulseekah commented on #1341
The unit tests are passing well on this. Testing manually...

[2019-09-05 15:37] soulseekah commented on #1341
Okay, it doesn't work if Number Format is not set.

![image](https://user-images.githubusercontent.com/685880/64356812-288c9e80-d00c-11e9-94bd-71f22de76380.png)

Writing test.

[2019-09-05 16:16] soulseekah commented on #1341
Please test usability @rafaehlers @jlgrisham

[2019-09-05 21:08] soulseekah commented on #1331
Interesting. As a UI suggestion maybe we can output part of the internal custom content text in gray next to the label? None of our fields have an admin label setting or any sort.

Any thoughts @zackkatz?

[2019-09-10 14:24] soulseekah opened #1342 "Search All does not work with Joins"
https://secure.helpscout.net/conversation/901011478/21506/

[2019-09-13 07:01] pareshmithra opened #1343 "Pagination is not working properly when filtered by date"
**Describe the Issue**
When I filter the entries by date it shows the number of pages. But when you click on the second page of entries it is actually not going to the second page of filtered entries, it is going to the second page of full entries.

Please help.

--------

### Additional information

**This issue happens in the following settings:**

_Please try to re-create the issue in each rend

[2019-09-13 07:27] soulseekah commented on #1343
Thanks for the report. Have you tried contacting support@gravityview.com for assistance with debugging the issue?

[2019-09-13 08:32] pareshmithra commented on #1343
No. Not tried yet.

[2019-09-13 09:50] pareshmithra commented on #1343
Tried reaching support@gravityview.com but the mail is not delivering to that email id. It says
"The response from the remote server was:
554 5.7.1 <support@gravityview.com>: Relay access denied"

[2019-09-13 11:22] #1343 closed

[2019-09-16 13:12] jlgrisham commented on #1317
https://secure.helpscout.net/conversation/956031618/22484?folderId=408730

[2019-09-16 15:46] soulseekah commented on #1335
I've done a lot of testing and everything seems fine in a minimal setup GV + GPPA. So there must be something else.

[2019-09-16 21:13] soulseekah commented on #1335
I'm beginning to think this is a configuration issue. The original thread used the Populate Value Dynamically which works in a very very weird way to begin with, even outside GravityView. It sort of allows you to mix predefined Labels and dynamic Values in a mind-boggling way.

The Populate Choices Dynamically hides the predefined choices altogether and works absolutely well with Merge Tags etc.

[2019-09-16 22:17] soulseekah commented on #1317
Okay, how do I setup a custom field as a file upload? What's the merge tag to use?

[2019-09-17 02:46] rafaehlers commented on #1317
FYI @soulseekah
![image](https://user-images.githubusercontent.com/1222472/65007343-354aa580-d8dc-11e9-9696-a632f0c1e5fa.png)

this is not a priority though.

[2019-09-17 14:37] soulseekah commented on #1323
I've checked this several times and also looked through the client site in HS#21157, the arrows seem to work fine right now.

Please confirm and reopen if needed.

[2019-09-17 14:56] soulseekah commented on #1307
This is going to be an upstream fix in Gravity Forms, I believe.

[2019-09-17 15:08] soulseekah commented on #1307
@mantasmacenas do you think you can help test the following patch?
Make sure you remove the fix I sent in your support ticket (the filter with the delete cache call).

[code]

We've submitted it upstream.

[2019-09-17 20:25] soulseekah commented on #1324
I was unable to reproduce in `develop`, can we please run a retest (@jlgrisham @rafaehlers)?

My search is behaving pretty well, apart from it resetting the `page_size` dropdown to the default value. Which is a bug this could issue could become.

[2019-09-17 20:39] soulseekah commented on #1324
Okay, this can be tested @jlgrisham @rafaehlers

I've also fixed the search button resetting the Page Size widget values!

[2019-09-17 21:29] soulseekah commented on #1307
https://github.com/gravityforms/gravityforms/pull/661

[2019-09-18 01:51] rafaehlers opened #1344 "Partial Entries have an auto-save feature which doesn't work on Edit Entry page"
It does look like this script is being called, but it doesn't work. Check this ticket for a user video which explains that better: https://secure.helpscout.net/conversation/953680404/22451/

[2019-09-18 03:33] soulseekah opened #1345 "Tests"
Lots of permissions failures, about 10 tests are failing.

[2019-09-18 03:37] soulseekah commented on #1311
Works okay on `develop`:

![image](https://user-images.githubusercontent.com/685880/65105756-a96d7200-d9de-11e9-8117-ec0b36558644.png)

![image](https://user-images.githubusercontent.com/685880/65105771-b4c09d80-d9de-11e9-84b6-b410589a6b5c.png)

Please confirm.

[2019-09-18 03:59] soulseekah commented on #1323
There's a shortcode sort_field override in the last case.

`[gravityview id='3834' sort_field="4"]`

[2019-09-18 06:18] soulseekah opened #1346 "Back link cookie snowball"
We need to figure out a way to prevent this from happening.

![image](https://user-images.githubusercontent.com/685880/65119557-0c6a0380-d9f5-11e9-92e1-46a9123e00de.png)

https://secure.helpscout.net/conversation/956932119/22495?folderId=1210164

Some ideas:

1. Set just one cookie as a JSON array.
2. The URLs do not need to include the domain.
3. We should unset links that will not be used in the

[2019-09-18 06:28] soulseekah commented on #1308
This has probably been fixed in https://github.com/gravityview/Featured-Entries/pull/27

Please confirm and close.

[2019-09-18 06:46] soulseekah commented on #1345
Bisect shows 1803ef7878b33cd09bdb00469939149f7898e3d9 as one of the culprits.

[2019-09-18 07:16] soulseekah commented on #1345
6 fails to go.

[2019-09-18 14:42] mantasmacenas commented on #1307
I have inserted the code and I think from what I can see now it does the trick. I've commented the code out from the fix in functions.php and the information is still there. Therefor I would conclude that this fixes it.

[2019-09-19 18:05] zackkatz commented on #1308
@rafaehlers Can you please test?

[2019-09-20 02:40] zackkatz commented on #1346
@soulseekah What about using localStorage instead? Cookies have more problems.

[2019-09-20 07:06] soulseekah commented on #1346
localStorage is a great idea, but JavaScript is required for it to work

[2019-09-20 09:05] soulseekah commented on #1218
Just so you know, Gravity Forms renders it as a link as well:

![image](https://user-images.githubusercontent.com/685880/65314331-ccdf1b00-db9e-11e9-820b-
b622ec75d510.png)

In progress.

[2019-09-20 11:13] soulseekah commented on #1218
Feel free to test and send feedback.

[2019-09-21 15:48] soulseekah commented on #1195
I'm going to add something like "Show Score" setting for the field.

[2019-09-22 14:18] soulseekah commented on #1195
![image](https://user-images.githubusercontent.com/685880/65389254-e201a880-dd5c-11e9-86b3-cad05f07f5cf.png)

![image](https://user-images.githubusercontent.com/685880/65389260-fe054a00-dd5c-11e9-8d88-8d6c8898d69c.png)

[2019-09-22 14:40] soulseekah commented on #1140
This can be done by using the `{survey_total_score}` merge tag. I don't think we need a separate field in the choices? Thoughts?

[2019-09-23 06:22] soulseekah commented on #1295
I want to close this off as intentional, @zackkatz

If the condition is not met the value should not be present, as if it was never entered.

Please discuss.

[2019-09-24 05:46] soulseekah commented on #983
Similar to #1230

[2019-09-24 09:11] soulseekah commented on #983
Please test. Should be good to go.

[2019-09-25 00:10] Raul1231 commented on #1323
I have the same problem, I can´t sort the result properly

![image](https://user-images.githubusercontent.com/49456398/65559057-614bd380-df39-11e9-983a-991a3841ff45.png)

In the photo, 15 is less than 2, is like only see the first number.

Have someone the same problem? how do you resolve it?

[2019-09-25 07:03] soulseekah commented on #1345
5.

[2019-09-27 07:58] soulseekah commented on #924
It's back, but I'll check before reopening: https://secure.helpscout.net/conversation/946590013/22329

[2019-09-27 18:08] endurtech commented on #1333
Well done. Tested using the new User Reg Add-On v4.4 and Gravity Forms v2.4.14 and issue appears to have been resolved. Thanks again.

[2019-09-27 22:00] rafaehlers commented on #1275
https://secure.helpscout.net/conversation/966222040/22660/

[2019-09-29 13:05] #1333 closed

[2019-09-29 13:08] soulseekah commented on #1323
Looks like Numeric is misbehavin, you need to make sure `is_numeric` is being set for your field. Is it a Number field? Or a text field? Try converting to a Number field.

Please contact support@gravityview.com for further assistance.

[2019-09-29 15:30] soulseekah commented on #924
The label is indeed being lost in some weird cases. I could not reproduce. This:

[code]

Along with this: `delete from wp_gf_entry_meta where meta_key like 'gform_product_info%';` will help with such rare edge cases meanwhile.

[2019-09-30 11:50] soulseekah commented on #1345
4.

[2019-09-30 12:02] soulseekah commented on #1345
3.

[2019-09-30 15:57] soulseekah commented on #1344
Yeh, this won't work at all. Not as easy as it seems. I gave it a couple of tries and got nothing out of it.

We're better off developing our own auto-save functionality if we detect the Partial Entries is enabled on the form. Punting until some next release.

[2019-09-30 16:36] soulseekah commented on #1275
![image](https://user-images.githubusercontent.com/685880/65898146-8f0d9e00-e3b9-11e9-9825-e96a4093ae3c.png)

Work on this has commenced. I need an empty repository for the plugin.

[2019-09-30 20:22] soulseekah commented on #1275
I have an MVP that does displaying, setting/unsetting and filtering by favorites. Give me a repo @zackkatz, please and I'll push for your to play around.

[2019-09-30 21:06] soulseekah commented on #1329
Or an admin? I'm going to give this a shot.

[2019-10-01 11:43] soulseekah commented on #1329
![image](https://user-images.githubusercontent.com/685880/65959117-d3507b00-e459-11e9-8fb8-03436d0a896b.png)

Almost there.

[2019-10-02 04:12] soulseekah commented on #1329
![image](https://user-images.githubusercontent.com/685880/66017515-d2fcc200-e4e3-11e9-990b-290bde2fe423.png)

Looks like it's working great. Tested with Stripe Addon.

[2019-10-02 06:39] rafaehlers commented on #1275
@soulseekah https://github.com/gravityview/Favorites

[2019-10-02 09:23] #1275 closed

[2019-10-03 14:56] soulseekah commented on #1346
![image](https://user-images.githubusercontent.com/685880/66137053-2a468380-e605-11e9-8106-4101d66cb25e.png)

Problem is that `#gravityview_back_link` is not something that exists...

Our cookies aren't even working :rofl: the element that has to be replaced does not exist in the repository. Our back links are output with `.gv-back-link` class even on single entries. Not even in version 1.19.x

Th

[2019-10-03 15:01] soulseekah commented on #1342
No news from customer. Would be nice to get tests here.

[2019-10-03 15:06] soulseekah commented on #1323
I'd say this can be closed again. Until better days.

[2019-10-03 15:17] soulseekah commented on #1046
On a related note: GP Populate Anything throws an error here:

![image](https://user-images.githubusercontent.com/685880/66139924-e904a280-e609-11e9-962c-e52d3d40025e.png)

Because we're sending a keyless search filter when the "Hide View data until search is performed" option is checked:

![image](https://user-images.githubusercontent.com/685880/66139956-f7eb5500-e609-11e9-8128-ae51ae78aac2.png)

[2019-10-03 15:38] soulseekah commented on #1046
Could not reproduce using shortcode and oEmbeds.

I think we fixed it somewhere between 2.0 and 2.1 I think.

@jlgrisham @rafaehlers can you please run a quick reproduce test so we can close this. Thank you.

[2019-10-03 15:42] soulseekah commented on #942
The Posts fields will be discontinued soon now. The Advanced Post Fields addon is what they're recommending now.

Cannot reproduce.

[2019-10-03 15:42] #942 closed

[2019-10-03 15:46] soulseekah commented on #808
This can be done by using the `[gventry]` shortcode, no? I think we even have examples of this being possible, especially with the new filters we support, and limit=1. Should be straightforward.

Someone has to try this, if not we should extend `[gventry]` to make this possible.

[2019-10-03 16:11] soulseekah commented on #669
I'll implement a filter at the very least, we can tie it into the UI later, right now there's no space for the UI.
By default filters for radios, dropdowns, multis will not be on. Standby.

[2019-10-03 20:14] rafaehlers commented on #1046
That was definitely fixed a while ago.

[2019-10-03 20:14] #1046 closed

[2019-10-03 20:15] rafaehlers commented on #808
@soulseekah yes, it can! And I've been suggesting it. Let's close this one.

[2019-10-03 20:15] #808 closed

[2019-10-04 06:34] soulseekah commented on #1227
Starting with width.

![image](https://user-images.githubusercontent.com/685880/66186018-d5991c00-e689-11e9-8eb7-c53604d2dbac.png)

Not confident regarding height, we don't have height as an attribute right now, do we add it?

[2019-10-04 11:16] soulseekah commented on #669
The filter is called `gravityview/search/sieve_choices`.

Example:

[code]

Or:

[code]

![image](https://user-images.githubusercontent.com/685880/66203661-941c6700-e6b1-11e9-90e7-68965231d076.png)

[2019-10-04 11:32] soulseekah commented on #669
@rafaehlers @jlgrisham see if you can test guys, it's a nice feature.

[2019-10-04 11:37] soulseekah commented on #1097
I'm guessing this can be closed?

[2019-10-04 11:38] #1025 closed

[2019-10-04 14:06] zackkatz commented on #669
@soulseekah This looks like a very elegant solution! I would like to add an option into the UI, or perhaps have it on by default.

Thoughts about having it on by default?

[2019-10-07 11:08] soulseekah commented on #949
Fixed. Please test whenever @rafaehlers @jlgrisham

Thank you.

[2019-10-07 11:10] soulseekah commented on #669
I don't think showing it by default is the proper way to break things for everyone else :)

Filter, and then UI should be enough, I think. But support can have other ideas or preferenes.

[2019-10-07 13:10] soulseekah commented on #941
Something to look out for: https://github.com/gravityview/GravityView/issues/1307

[2019-10-07 14:31] soulseekah commented on #941
1. Fields that are hidden by new conditional logic should be reset.
2. Fields that are dynamically populated by pre_ filters might not be kicking in.
3. Hidden fields are not touched in `develop`

I'm looking at https://secure.helpscout.net/conversation/971262667/22746/ to see if we can reproduce in any way, might be related to this.

[2019-10-07 15:45] soulseekah commented on #923
![image](https://user-images.githubusercontent.com/685880/66326849-6bef6b00-e932-11e9-9218-3718dd5a3c9b.png)

I'll start by doing something like this as an experiment and see where it takes us in terms of rendering in the admin (#1153, #946)

[2019-10-07 16:29] soulseekah commented on #923
Meh, I still think that doing this the `iframe` way is the way to go here. All of our rendering is protected by `is_admin` calls because core is not loaded in the backend.

The closest I come is via a Mock Request-faked render:

![image](https://user-images.githubusercontent.com/685880/66330246-a825ca00-e938-11e9-8411-5980bc42c15b.png)

We do this in our tests. We can theoretically bootstrap off o

[2019-10-07 16:43] soulseekah commented on #923
[adminview.zip](https://github.com/gravityview/GravityView/files/3698537/adminview.zip) is a test plugin with a very very rough idea. Moving to low priority and hard difficulty :dango:

[2019-10-07 17:42] zackkatz commented on #923
Okay, closing this for now.

[2019-10-07 20:20] soulseekah commented on #941
A simple test form with results before edit:

![image](https://user-images.githubusercontent.com/685880/66345300-7ae91400-e958-11e9-9d1c-52f595a06984.png)

Form: [export.zip](https://github.com/gravityview/GravityView/files/3699281/export.zip)

[2019-10-07 20:43] soulseekah commented on #941
After edit on the first entry:

![image](https://user-images.githubusercontent.com/685880/66347075-29db1f00-e95c-11e9-8ed0-0a08bd48ce70.png)

Seems like we have some issues before of these unsets. Still investigating. But this is not good, right? The w/ Tax shouldn't even be calculated!

[2019-10-07 21:01] soulseekah commented on #941
![image](https://user-images.githubusercontent.com/685880/66348117-7a537c00-e95e-11e9-9225-97af059e7f63.png)

Empty value here is set as something tangible, and we update it as such. I think our unset function is simply not working in this case. Or rather the thing that says "hey, make this empty" doesn't work with calculation fields :)

[2019-10-07 21:04] soulseekah opened #1349 "`unset_hidden_field_values` does not always work"
I doesn't work with Calculations as far as we can see.

https://secure.helpscout.net/conversation/971262667/22746?folderId=1210164

Discovery phase in https://github.com/gravityview/GravityView/issues/941

[2019-10-07 21:16] soulseekah commented on #1349
:heavy_check_mark: Works fine with non-calculation Number fields.

:x: Does not work with calculation Number fields. Calculations are redone regardless of them being hidden. That `get_value_save_entry` bit in:

![image](https://user-images.githubusercontent.com/685880/66349143-e20ac680-e960-11e9-9bca-e4793461ed1f.png)

...redoes the calculation and returns a non-empty value.

[2019-10-07 21:24] soulseekah commented on #1349
![image](https://user-images.githubusercontent.com/685880/66349591-e2579180-e961-11e9-9b66-56bf3dffb820.png)

This simple thing does not work... they must be getting recalculated later.

[2019-10-07 23:03] #1323 closed

[2019-10-07 23:03] zackkatz commented on #1308
@rafaehlers @jlgrisham Please test.

[2019-10-08 04:45] rafaehlers commented on #1308
Sorry, I forgot to mention this was tested and fixed already.

[2019-10-08 09:51] soulseekah commented on #1136
![image](https://user-images.githubusercontent.com/685880/66386144-5a59a200-e9ca-11e9-80fa-b30ff59f69d4.png)

Some good news perhaps.

[2019-10-08 10:05] rafaehlers commented on #1136
I'm checking that with @spivurno to confirm.

[2019-10-08 12:57] spivurno commented on #1136
Yes, Nested Forms now supports Gravity View. A Nested Form field can be included in any view including the edit view.

The only limitation we are currently aware of is not being able to search/filter parent entries by values in their child entries.

[2019-10-08 19:16] #1346 closed

[2019-10-08 20:12] soulseekah opened #1350 "Race condition during save form"
Initially reported here https://secure.helpscout.net/conversation/852334104/20674/

I manged to reproduce by calling /wp-admin/update-core.php?force-check=1 in a loop while manually saving a View. Took about 10 tries to get the fields erased.

No idea why it's happening, static code analysis doesn't provide anything useful. Will try to debug in the coming days.

[2019-10-08 20:47] soulseekah commented on #1350
Hmm, after some further trials updates don't seem to be the issue. I'm able to reset the fields pretty easily just by hitting Update a bunch of times, clicking the button in a crazy way. I think it happens when the fields' `gv_fields` input hasn't been populated by the JS yet and you can hit Update to erase everything.

@rafaehlers @jlgrisham @zackkatz can you please test?

Here's a video https://

[2019-10-08 21:45] rafaehlers commented on #1350
@soulseekah This user reported this before: https://secure.helpscout.net/conversation/960462831/22564/

[2019-10-08 21:47] #1136 closed

[2019-10-08 22:40] rafaehlers commented on #1331
https://secure.helpscout.net/conversation/975437568/22818/

[2019-10-08 22:55] zackkatz commented on #1350
@mrcasual please add checks to make sure the field configuration is fully loaded before saving takes place.

[2019-10-09 01:05] rafaehlers commented on #1278
Can we remove HTML for checkboxes fields and probably every other field that outputs HTML when exporting to CSV?

![image](https://user-images.githubusercontent.com/1222472/66443975-b26ac580-ea17-11e9-9d9e-1e9d57798547.png)

[2019-10-09 01:05] rafaehlers commented on #1278
https://secure.helpscout.net/conversation/975853180/22829/

[2019-10-09 01:34] rafaehlers opened #1352 "Search Bar > Searching for Category fields doesn't work"
This is my form using Post Fields:

![image](https://user-images.githubusercontent.com/1222472/66444903-61f56700-ea1b-11e9-9dc7-e7f8273f9875.png)

And this is my View:

![image](https://user-images.githubusercontent.com/1222472/66444933-7df90880-ea1b-11e9-9ca7-01eda62dea29.png)

And the Search Bar:

![image](https://user-images.githubusercontent.com/1222472/66444954-92d59c00-ea1b-11e9-8d6e-4ad6154

[2019-10-09 01:35] rafaehlers commented on #1352
https://secure.helpscout.net/conversation/972829927/22783/

[2019-10-09 10:15] soulseekah commented on #1350
@zackkatz let's not do this in JS. If JS breaks then the saving will still take place. Let me try and fix this the correct way of outputting the hidden input in the HTML with the existing fields in there.

[2019-10-09 16:41] soulseekah commented on #1307
Patch has been merged into Gravity Forms master. Will be released with next minor.

[2019-10-09 17:17] soulseekah commented on #1350
I'd like everyone to test with 1e5e9bf7 and without it.

It's behaving pretty stably for me. See if you can break it.

[2019-10-10 00:40] mrcasual commented on #1350
@soulseekah I am able to [reproduce the issue](https://www.dropbox.com/s/pdj37bozamclsxf/2019-10-09_20-37-42.mp4?dl=0) on `1e5e9bf` by clicking update button 2-3 times before it's disabled.

[2019-10-10 08:31] soulseekah commented on #1350
Thanks. Reproduced as well.

This is a JS issue. Pretty sure that `serializeForm` function is hit several times, but it deletes the fields the first time the form is serialized. I'll try to add a mutex into it.

[2019-10-10 08:53] soulseekah commented on #1350
Check out `4830a15` and see if you can break it. I added some caching during submission.

Clickers be clicking'.

Good find @mrcasual

Anyone else wanna try and break it?

[2019-10-10 09:51] soulseekah commented on #1352
I can't seem to even have it show up. Investigating.

[2019-10-10 14:04] soulseekah commented on #1352
The filter searches by category ID, but the entry category data is stored as CATNAME:CATID.

[2019-10-10 14:11] soulseekah commented on #1352
I found a bug in the new unreleased sieve filter, which I fixed. Other than that I can't reproduce at all on develop.

![image](https://user-images.githubusercontent.com/685880/66576785-f88f6880-eb80-11e9-904b-07ce53cff713.png)

Will try client's site.

[2019-10-10 14:44] soulseekah commented on #1352
The search doesn't work in multiple categories mode (multiselect, checkbox input types for Post Category). Makes sense.

[2019-10-10 16:57] soulseekah commented on #718
@zackkatz can you respond above, please?

[2019-10-10 17:06] zackkatz commented on #718
Since it seems easier and I don’t have a firm opinion either way, let’s do each step for now, and then people can complain if that’s not what they want. @soulseekah

@rafaehlers @jgrisham what do you think?

[2019-10-10 23:12] rafaehlers commented on #718
It also seems "safer" saving it page by page.

[2019-10-11 11:36] soulseekah commented on #718
Note that Gravity Forms does not save the form page by page :)

I'll implement

[2019-10-11 20:42] zackkatz commented on #1350
No breaky-breaky! Nice job!

[2019-10-11 20:42] #1350 closed

[2019-10-13 18:09] zackkatz opened #1354 "Search Bar: Allow descriptions for Search Bar fields"
Allow users to add a description to search fields as well as the label.

Example:

![](https://i.gravityview.co/TtzSJB+)

[2019-10-13 19:03] zackkatz commented on #544
Closing due to how old this is.

[2019-10-13 19:03] #544 closed

[2019-10-14 16:45] soulseekah commented on #1188
Related https://github.com/gravityview/GravityView/issues/1267

[2019-10-14 16:52] soulseekah commented on #1179
Backend support was definitely available since 16315491d

Probably just a matter of adding Text as a valid input. Needs a quick test.

[2019-10-14 16:56] soulseekah commented on #935
This was merged into upstream master Nov 14, 2018

Closing.

[2019-10-14 16:56] soulseekah commented on #928
This needs retesting.

[2019-10-14 16:57] soulseekah commented on #922
Related to https://github.com/gravityview/GravityView/issues/1188

[2019-10-14 17:00] soulseekah commented on #859
I propose a close on this due to inactivity.

[2019-10-14 17:02] soulseekah commented on #830
Can someone retest this, please with current `develop`?

[2019-10-14 17:05] soulseekah commented on #821
This should have been fixed since 16315491d landed. Can we have a retest on this, please?

[2019-10-14 17:10] soulseekah commented on #773
This should start out as just a filter, I think. We have some code that filtered (sieved) the entries in the dropdown, we can calculate the totals there by doing a non-distinct query instead and counting everything, should be very possible.

465a4d842db18393d9529e45d282f2ab6e427e1c

[2019-10-14 17:12] soulseekah commented on #516
Related to https://github.com/gravityview/GravityView/issues/1188

[2019-10-14 17:17] soulseekah commented on #574
The shortcode was removed in 2014: d3b581249a8e1df9fac73cfdf7864174001d3e64

Do we want one back?

[2019-10-14 17:18] soulseekah commented on #553
Restore to what? We don't support non-empty defaults in our search filters.

[2019-10-14 18:16] zackkatz commented on #553
Reset to "original values" meaning any pre-filled fields that were set due to an existing search result.

[2019-10-14 18:28] zackkatz opened #1355 "Add support for "visual tokens" in search"
It could use Merge Tag JS to identify possible  search fields.

![](https://i.gravityview.co/OwE2fP+)

![](https://github.com/ashubham/tokenizer.js/raw/master/assets/tokenizer.gif)

### Existing Libraries

- http://documentcloud.github.io/visualsearch/ ([repo here](https://github.com/documentcloud/visualsearch))
- https://github.com/ashubham/tokenizer.js ([see blog article about it](https://codebu

[2019-10-14 18:32] zackkatz opened #1356 "Add support for faceted search"
Customers expect great search, and faceted search is the best way to drill down a large dataset.

FacetWP is a plugin that does faceted search for Posts and CPTs, but not Gravity Forms entries:

![](https://i.gravityview.co/qTxoXf+)

[2019-10-14 19:01] zackkatz opened #1357 "Add a Gravity Forms search widget"
Gravity Forms' javascript search UI could be used out of the box, with customizations to support our own URL scheme #1174 or implement Gravity Forms' URL scheme #1200

[2019-10-14 19:49] zackkatz commented on #859
@jlgrisham Can you please test?

[2019-10-14 19:55] soulseekah commented on #1322
@zackkatz this one is for you, can you please check our build/translate process. es_ES seems to be missing a lot.

[2019-10-14 19:56] #1307 closed

[2019-10-14 19:59] soulseekah commented on #1230
Please test!

[2019-10-14 19:59] soulseekah commented on #1052
Fixed in #1350 (duplicate)

[2019-10-14 19:59] #1052 closed

[2019-10-14 20:05] #935 closed

[2019-10-14 20:07] soulseekah commented on #862
Need a retest please with 2.x

[2019-10-14 20:11] soulseekah commented on #1355
Jesus.

[2019-10-14 20:12] soulseekah commented on #553
Makes sense, thanks for the clarification.

[2019-10-14 20:40] rafaehlers commented on #669
a UI option next to each field in the Search Bar modal will be great.

[2019-10-14 20:44] rafaehlers commented on #574
I usually suggest this to our clients: https://wordpress.org/plugins/widget-shortcode/

[2019-10-14 20:50] rafaehlers commented on #928
This shouldn't be happening anymore. For the second View to be affected, it has to have a Search Bar as well.

[2019-10-14 21:16] jlgrisham commented on #1341
Tested and working even if Number Format isn't set.

[2019-10-14 23:50] zackkatz commented on #928
When testing, make sure that the forms include fields that have the same IDs

[2019-10-15 08:23] soulseekah commented on #718
Highly experimental.

Add `add_filter( 'gravityview/features/paged-edit', '__return_true' );` to activate. Make sure you don't have fields setup in the Edit configuration.

If it behaves well overall I can start writing unit tests for this.
Otherwise needs testing.

[2019-10-15 14:42] jlgrisham commented on #1324
Working as expected now.

[2019-10-15 14:49] jlgrisham commented on #881
Tested and fixed.

[2019-10-15 15:05] jlgrisham commented on #983
Whole date sorting good to go.

[2019-10-15 15:28] jlgrisham commented on #1179
Text option for Entry Creator available now. Full and partial text searches working as expected.

[2019-10-15 16:01] soulseekah commented on #1331
Okay let's give this a test, guys. Hopefully nothing broke. We don't have unit tests or acceptance tests for the backend so please please please test as rigorously as you can.

[2019-10-15 19:03] jlgrisham commented on #1331
@soulseekah In my testing the admin labels only appear after hitting the Update button on the Edit View page. With the other fields, if I enter a custom (not admin) label I can see the new label upon clicking Close from the field Options popup. Is that expected or is that maybe related to my test environment?

[2019-10-15 19:04] soulseekah commented on #1331
Thanks for testing, Jerry. Yes, that's expected. I can try to fiddle with the Javascript if everything else is okay. UX-wise I think it should change like the others, agreed.

[2019-10-15 19:15] soulseekah commented on #1331
Please retest. JavaScript has been written.

[2019-10-15 20:31] soulseekah commented on #912
We'd need access to the latest version of the plugin if possible, @zackkatz. I have some old versions from GitHub, not sure we're sage using them.

[2019-10-15 20:37] zackkatz commented on #912
@soulseekah We can use this for now, assuming it's updated.

https://github.com/wp-premium/woocommerce-gravityforms-product-addons

[2019-10-15 20:42] soulseekah commented on #850
We should just extend the `gventry` shortcode, doh. It has a `view_id` parameter already :)

Starting work on this, shouldn't be hard at all.

[2019-10-15 21:15] rafaehlers commented on #912
Just an FYI this hasn't been requested anymore.

[2019-10-15 21:48] zackkatz commented on #912
@soulseekah Let's hold off on this. Closing for now until interest picks up.

[2019-10-15 21:48] #912 closed

[2019-10-16 08:45] soulseekah commented on #850
Whew. Okay, let's have some initial testing, team!

We already have `last` and `first` special IDs. So a user profile would look like this:

1. Create a View, setup the edit fields
2. Setup an Advanced Filter to filter the View to logged in user
3. Add the [gventry view_id="1" entry_id="first" edit="1"] shortcode

Write a nice documentation for this @jlgrisham :)

[2019-10-16 10:02] soulseekah commented on #820
`gform_pre_render_` is very often used by plugins to alter the form fields before the form shows up. Since we never call it in the search bar the fields are not altered at all.

People do this manually.
WPML's Gravity Forms Multilingual does this.
GP's Populate Anything does this.

[2019-10-16 14:34] jlgrisham commented on #1227
Custom width tested and working as expected.

[2019-10-16 21:14] zackkatz opened #1358 "Update default widgets when creating a new View"
### When creating a new View, add these widgets to the View Configuration by default:

**Above:**

- Search Bar with "search everything" selected by default
- Show Pagination Info on left
- Page Links on right (default config)

![](https://i.gravityview.co/pifQ8R+)

**Below:**

- Page Links on right (default config)

![](https://i.gravityview.co/A904Yx+)

[2019-10-16 21:14] zackkatz commented on #1358
@soulseekah Can you give this a whirl and see how much work it'll be?

[2019-10-16 22:38] zackkatz commented on #850
Question: Does `entry_id` accept merge tags (like our `{get}` Merge Tag)? That'd be helpful.

[2019-10-17 12:36] soulseekah commented on #1331
Please make sure you're running with `define( 'SCRIPT_DEBUG', true );`. As the changes are in the unminified scripts which were not rebuilt yet!

Let's try again, @jlgrisham

[2019-10-17 12:59] soulseekah commented on #850
It does not do that currently, no. We only accept "first", "last", and ID or a slug.

The {get} merge tag might open sites up to attacks perhaps, editing entries that they're not supposed to be able to edit. What's the use case? An example would be helpful.

What other merge tags would we want?

[2019-10-17 13:50] jlgrisham commented on #1331
That did the trick. Nice work!

[2019-10-17 15:26] soulseekah commented on #820
There's also the `gravityview_widget_search_filters` filter that we can probably utilize. It allows us to modify the field choices as needed along with their labels and value counterparts.

https://secure.helpscout.net/conversation/982966868/22952?folderId=408735

[2019-10-17 15:45] soulseekah commented on #1358
I'm almost certain that this is mostly a JavaScript thing. The server is not touched on the /wp-admin/post-new.php?post_type=gravityview screen up until the Update button is hit for the first time.

Users might hit the Update button from the get go, before the widgets are populated, so we need to make sure they're there on pageload I guess. Which is where the backend side of things comes in.

Inve

[2019-10-17 16:12] zackkatz commented on #1358
@soulseekah Configuration is pulled in via AJAX regardless of if it's a new or existing View.

[2019-10-17 16:18] soulseekah commented on #1358
There is also static output which we should also be handling, I believe:

![image](https://user-images.githubusercontent.com/685880/67027771-d498cd80-f112-11e9-9589-5762b3a9a312.png)

[2019-10-17 21:50] #1331 closed

[2019-10-17 21:59] rafaehlers commented on #1179
@soulseekah I don't have any special request for those at this moment.  What're the current criteria for picking which input types are available/can be done for each field?

[2019-10-17 22:06] zackkatz commented on #1179
@rafaehlers https://github.com/gravityview/GravityView/blob/a31172ea06ccab03b92c4f84834874ca37be4440/includes/widgets/search-widget/class-search-widget.php#L148-L176

[2019-10-18 10:50] soulseekah commented on #1358
Let's get this tested, please. I'm sure there are some edge cases that I didn't click through :)

[2019-10-19 17:11] soulseekah commented on #930
https://secure.helpscout.net/conversation/984671634/22990?folderId=408730

[2019-10-19 17:21] soulseekah commented on #1176
This should be a documentation page somewhere. Can we write one and close? @zackkatz

[2019-10-19 17:33] soulseekah commented on #794
Can someone test the `gravityview/template/links/back/atts` filter with `onclick` in there, please?

Pretty sure we can do something like:

[code]

Test with `$atts['onclick'] = 'alert(1);'`, it should work.

@jlgrisham @rafaehlers @zackkatz

Doing javascript: is probably bad.

[2019-10-19 17:43] soulseekah commented on #795
I'm pretty certain that the form_id can be had via `$entry['form_id']`. The `$id` parameter contains the entry ID, so do a `GFAPI::get_entry( $id )['form_id']` to get the form.

There is another problem, perhaps, we cannot get the View. This means that we cannot dynamically change the slug for an Entry based on the View.

Seems like not a big deal.

[2019-10-19 17:49] soulseekah commented on #800
I would like a retest of this. @jlgrisham see if you can reproduce, please. Place the code into one of the templates.

Avada is pretty popular, users would have complained in the last 3 years. Fingers crossed.

[2019-10-19 17:50] soulseekah commented on #801
Let's get this tested as well. Our JS has changed quite a bit. Let's see if there are issues. Just install OptimizePress and work a couple of days with it on.

[2019-10-19 17:54] soulseekah commented on #805
A one-off fluke? Pretty sure we'd be hearing about this all over.. almost 3 years. Closing.

[2019-10-19 17:54] #805 closed

[2019-10-19 17:58] soulseekah commented on #813
I think DIY addresses this pretty well: https://github.com/gravityview/diy

[2019-10-19 17:58] #813 closed

[2019-10-19 18:04] soulseekah commented on #817
Needs a retest, but I'm like 100% sure that this would happen with sorts on two different Views on the same page.

The same would happen with search.

Why? Simply because the URL scheme does not support binding search and sort parameters to a View. I was thinking about this lately, we should have a new scheme that supports this.

Related to https://github.com/gravityview/GravityView/issues/1200

D

[2019-10-19 18:06] soulseekah commented on #844
Jerry, can you please confirm and close if that works? @jlgrisham

[2019-10-19 18:08] soulseekah commented on #1200
One big issue: GF Web API does not allow to keep state for multiple views at a single endpoint, and multiple forms in a single view :) We need something more powerful. I'm thinking JSON-based. See #817

[2019-10-19 18:10] soulseekah commented on #846
I like this.

[2019-10-19 18:10] soulseekah commented on #879
This is TrustedLogin.

[2019-10-19 18:10] #879 closed

[2019-10-19 18:11] soulseekah commented on #880
Kiefer, we miss you.

[2019-10-19 18:12] soulseekah commented on #883
Weren't we deprecating form presets? Or was that XML-based form presets?

[2019-10-19 18:15] soulseekah commented on #884
Where are we at with this? :)

[2019-10-19 18:21] soulseekah commented on #921
Do we have a UI for this? Sounds like something that can be done in a purely JavaScript-powered fashion? The server should receive the date ranges, the JS can calculate them based on the UI.

[2019-10-19 18:23] soulseekah commented on #939
I believe this must have been fixed? At least in 90f758efe5a273f55f5e3934a3955fe9c9b72b87 right?

[2019-10-19 18:27] soulseekah commented on #943
We're fine overall.

We have specific issues:

https://github.com/gravityview/GravityView/issues/1295
https://github.com/gravityview/GravityView/issues/941

The rest have been dealt with overall.

[2019-10-19 18:27] #943 closed

[2019-10-19 18:28] soulseekah commented on #877
Duplicate https://github.com/gravityview/GravityView/issues/950

[2019-10-19 18:28] soulseekah commented on #950
Duplicate of https://github.com/gravityview/GravityView/issues/877

[2019-10-19 18:31] soulseekah commented on #977
Requested more information from initial reporter. We've not seen anything like this, would be nice to reproduce.

[2019-10-19 18:32] soulseekah commented on #1320
Duplicate of https://github.com/gravityview/GravityView/issues/820

[2019-10-19 18:32] #1320 closed

[2019-10-19 18:34] soulseekah commented on #1118
Related to https://github.com/gravityview/GravityView/issues/850

[2019-10-19 18:35] soulseekah commented on #800
Take a look at https://github.com/gravityview/GravityView/issues/711 as well.

[2019-10-19 18:35] soulseekah commented on #711
Is this still the case?

[2019-10-19 19:54] zackkatz commented on #1118
@soulseekah This is when embedding a single entry in oEmbed, not a Multiple Entry.

What I was describing is this:

- Create a post
- Embed a Single Entry via oEmbed `https://example.com/view/entry/123/`
- The Edit Entry link doesn't work

[2019-10-19 20:04] zackkatz commented on #977
Silencing the warning is simple; just don't assume the key exists.

[code]

This would fix the PHP warning, but maybe it shouldn't be silenced without understanding the bug…when we have another report, let's look into it more.

I imagine this is what is happening: when deleting a file so that no files exist for the field, the `$_POST` and `$_FILES` are empty for that key. The `$entry` value may al

[2019-10-19 20:14] zackkatz commented on #1358
@soulseekah It doesn't render on the front-end for me.

It looks good when added:
![](https://i.gravityview.co/MEr7Iv+)

But when clicking into the Search Bar settings, it shows as unconfigured:
![](https://i.gravityview.co/ex3KMy+)

And on the front-end, the Search Bar doesn't show:
![](https://i.gravityview.co/hERYNZ+)

[2019-10-19 20:33] zackkatz commented on #877
Also requested by [HS#12546](https://secure.helpscout.net/conversation/486413067/12546?folderId=408730)

[2019-10-20 09:49] soulseekah commented on #877
The Heartbeat API is also nice.

https://developer.wordpress.org/plugins/javascript/heartbeat-api/

[2019-10-20 10:05] soulseekah commented on #846
We're already running `wpautop` and `do_shortcodes` in there manually. What's the exact purpose of this?

Stats for when this pops up:

![image](https://user-images.githubusercontent.com/685880/67157797-f88a2800-f339-11e9-9917-f8dfde0c10f5.png)

It seems that the only issue is embed codes? Maybe we just have a do_embed?

Is this an [XY problem](http://xyproblem.info/) perhaps?

[2019-10-20 11:47] soulseekah commented on #1001
I've added the `[gv_pageviews]` shortcode for this (we can add is as a standalone field but for now I'd like it to be added into Custom Content to hide the limitations below, but it can be used outside of a View altogether by supplying the `id` attribute).

The limitations:

- Cannot sort, order, filter by pageview, since they're all fetched via AJAX calls. Pageviews was never really meant for thi

[2019-10-20 11:57] soulseekah commented on #1358
It seems to work some of the times... rarely, but it does. Investigating.

[2019-10-21 08:14] soulseekah commented on #994
https://secure.helpscout.net/conversation/833341854/20321/

https://docs.gravityview.co/article/575-how-to-remove-all-styles-and-scripts-of-gravityview-from-your-website

[2019-10-21 12:32] vendojo commented on #930
Thank you very much @zackkatz for pointing me to this issue. Really looking forward to the development of this additional feature. Please let me know if you need feedback from a potential user of this feature :)

[2019-10-21 16:54] soulseekah commented on #1358
I've found the culprit to be this piece of code:

![image](https://user-images.githubusercontent.com/685880/67225760-76365c80-f43c-11e9-99df-c47909404c3c.png)

Any ideas on how to deal with it? Search All is universal so perhaps we can leave Search All fields?

[2019-10-21 17:13] zackkatz commented on #1358
@soulseekah good idea. I can implement.

[2019-10-22 08:33] soulseekah commented on #930
First iteration is now ready. Please test the feature/duplicate branch: https://github.com/gravityview/GravityView/archive/feature/duplicate.zip

[2019-10-22 08:38] soulseekah commented on #930
- [ ] tests
- [ ] pull filters for pre entry creation
- [ ] pull filters for post entry creation

[2019-10-22 13:42] zackkatz opened #1361 "Improve WPML compatibility"
Let’s get WPML working very well with GV 💯

Add comments below with checkboxes for items that should work better. Use this format:

`- [ ] Example item`

[2019-10-22 15:05] zackkatz commented on #1361
- [ ] Table header (field labels) are not translated
http://gravityview.compatibility.wpml.org/gravityview1/?lang=sr

![](https://i.gravityview.co/M7fXZr+)

We need to get translations applied to field label
when rendered on frontend.

Is this place on code where filters should be applied?

[code]

Or there is better place to filter field label?

[2019-10-22 15:07] zackkatz commented on #1361
- [ ] Entries in all languages are listed (not filtered)
http://gravityview.compatibility.wpml.org/gravityview1/

![](https://i.gravityview.co/IFqrXy+)

Maybe we should filter query and have only entries in current language translated?

Is this correct place in code to check if filters can be applied?

[code]

[2019-10-22 15:51] jlgrisham commented on #844
Have not been able to get this working:

[gravityview id="8" search_field="created_by" search_value="{current_user:ID}"]

Not returning results for any of my logged in users who created entries.

[2019-10-22 15:55] soulseekah commented on #844
Oh that's probably because merge tags are not processed as search values. We've had a customer report this in a ticket.

https://secure.helpscout.net/conversation/985577527/23005/

Converting to valid but then.

[2019-10-23 03:59] soulseekah opened #1362 "Objectify the paths in `gravityview_template_paths`"
`gravityview_template_paths` can have collisions from plugins using the same indices.
Implement the file paths as an auto-resolving object instead.

Needs some more thought and a new API.

[2019-10-23 04:20] soulseekah commented on #1361
What's the priority on this?

[2019-10-23 05:55] soulseekah commented on #1345
`GravityView_Edit_Entry_Test::test_field_visibility_and_editability_caps`'s success depends on the number of forms that have been created... weirdest thing I've ever seen.

I modify the create_many call in `GVCommon_Test::test_get_forms` from 5 to 3 and it works. 1 and 2 works as well, anything over 5 stops working.

...It's like it fails unless there are more than 100 forms present.

I literally

[2019-10-23 06:42] soulseekah commented on #1345
`input_1` is contained in `for="input_17_2"`... doh

2 to go :checkered_flag:

[2019-10-23 06:48] soulseekah commented on #1358
Absolutely, sure. Let me know.

[2019-10-23 22:03] soulseekah commented on #1319
I need this retested properly.

1. As admin - edit any views.
2. As editor, contributor, author - can't edit views.
3. Use some User Role Editor plugin, give 'unfiltered_html' cap to one of the above - be able to edit own views.
3. `add_filter( 'gravityview/security/require_unfiltered_html', '__return_false' )` - anyone above edit own views.

[2019-10-23 22:07] soulseekah commented on #1345
0?

[2019-10-23 23:33] zackkatz commented on #1238
Closing, since there seems to not be a problem anymore!

[2019-10-24 00:57] rafaehlers opened #1364 "Hide Edit Entry and Delete Entry columns if current user has no cap"
If the current user or even a not-logged-in website visitor has no capabilities to edit any entries, then don't show these two columns:

![image](https://user-images.githubusercontent.com/1222472/67444521-d6193880-f5df-11e9-8fd0-e913f9add069.png)

Tested on GV 2.4.1.1

[2019-10-24 00:58] rafaehlers commented on #1364
https://secure.helpscout.net/conversation/987726177/23041/

[2019-10-24 12:17] soulseekah commented on #1345
3.

[2019-10-24 14:15] soulseekah commented on #1345
2 :smile:

[2019-10-24 15:22] soulseekah commented on #1345
0. But not on all versions:

![image](https://user-images.githubusercontent.com/685880/67500397-429d4180-f68b-11e9-8a6d-45ce72424739.png)

ugh

[2019-10-24 15:45] soulseekah commented on #1345
A regression in WordPress nightly:

https://core.trac.wordpress.org/ticket/28636

[2019-10-24 15:52] zackkatz commented on #1345
@soulseekah I thought the nightlies wouldn't show as errors in the build?

[code]

[2019-10-24 15:56] soulseekah commented on #1345
See: https://core.trac.wordpress.org/ticket/28636#comment:34

[2019-10-24 16:25] soulseekah commented on #1364
The only way to do this would be to scan ALL the entries before outputting them and check the caps for each entry, if any of the entries is editable - show the column, otherwise - hide it.

Same for our duplicate thing #1360

[2019-10-24 20:33] #1358 closed

[2019-10-24 20:35] zackkatz commented on #182
Yep, this works for me again.

[2019-10-24 20:35] #182 closed

[2019-10-24 20:39] zackkatz commented on #804
This works for me. Closing until needed.

[2019-10-24 20:44] zackkatz commented on #804
@soulseekah I was able to reproduce with Multi Select.

- Create **Multi Select** field with two choices:
  - Eurology
  - Neurology
- Submit combinations of both, one, or the other
- Create View
- Update Search Bar to search that multi select field
  - Set it to "Select" input
- go to View, filter by "Eurology"

![](https://i.gravityview.co/7iXuMt+)

[2019-10-24 22:03] zackkatz commented on #949
@soulseekah This isn't working for me.

This test passes:

[code]

But this test fails:

[code]

[2019-10-27 10:38] vendojo commented on #718
@soulseekah just tried this feature and while it correctly showed the steps at the top of the form, it would finish the editing process right after clicking the 'Next' button. So right now, the 'Next' button is not loading the next page of this form but already submitting the edited entry.

Let me know if you need any further information.

[2019-10-27 11:51] soulseekah commented on #949
So I've rewritten the thing from the ground up.

All new and old tests pass.

`[else if` shortcode support is pretty good (update the documentation to talk about the construct!)
Nested support is amazing, we can have triple nesting with gvlogic3 if needed ;) and 4 and so on, as many as anyone needs!

We need some testing, and it can be merged.

[2019-10-27 12:02] soulseekah commented on #718
@vendojo Thank you for testing. This is a limitation, the entry fields are submitted on every single page right now. But the pages should still be advancing correctly and showing the specific page fields. Is this not what you're seeing? Can you show a video?

[2019-10-27 12:02] vendojo commented on #930
Hi @soulseekah and thanks or the update. I just installed the zip filed you linked to, added the respective 'Duplicate entry' to the list view but the cells of this column are empty. Am I doing something wrong?

[2019-10-27 12:06] soulseekah commented on #930
@vendojo Thank you for testing. Make sure you have the appropriate permissions. Empty cells usually mean that you don't have permissions to Edit or Delete either. Can you add a Delete cell, is it empty as well?

[2019-10-27 12:18] vendojo commented on #718
Here's the video: https://www.loom.com/share/101bbc772e994b75842f02413b86f72f

There seems to be an issue with the form's confirmation type. I was using a redirect to another page on submission (see ![screenshot](https://user-images.githubusercontent.com/56757832/67634407-dead8f80-f8bb-11e9-9b4b-1b12811bbde1.png)). As the entry is submitted on every page, it does apparently also trigger this confi

[2019-10-27 12:40] vendojo commented on #930
@soulseekah No, all the other cells are working fine.

![screenshot-bwe6id myraidbox de-2019 10 27-13_24_11](https://user-images.githubusercontent.com/56757832/67634645-f76b7480-f8be-11e9-8cc0-df68b8fecec3.png)

I'm admin and should have all the necessary permissions. I even manually added the gravityview_duplicate_entry capability as described in this thread's opening comment.

[2019-10-28 11:18] soulseekah commented on #941
https://secure.helpscout.net/conversation/989935174/23107/

More issues here. I'm trying to write tests.

[2019-10-28 11:41] soulseekah commented on #840
https://secure.helpscout.net/conversation/989935174/23107/

Managed to reproduce something similar. Reopening.

[2019-10-28 15:53] soulseekah commented on #930
Are you able to send admin access to support@gravityview.co I'd like to make a copy of the site and debug it locally. Thanks.

[2019-10-28 16:04] vendojo commented on #930
Done

[2019-10-28 16:24] soulseekah commented on #930
https://secure.helpscout.net/conversation/991812008/23129?folderId=408730

[2019-10-28 16:28] soulseekah commented on #930
Thank you. Can you please add the Plugin menu or install UpdraftWP Backups, I'd like to clone the website to my local environment for live debugging.

[2019-10-28 16:44] vendojo commented on #930
Ooops, sorry. Still had the White Label CMS plugin activated. Should be working now.

[2019-10-28 16:57] soulseekah commented on #718
Issues found:

- [ ] Previous skips 2 pages when clicked, going in a loop.
- [ ] Redirecting After Edit setting is pulled on every page.

Redirecting to another page via the Form Settings is not being triggered for me, but:

- [ ] Check and make sure we're proactively suppressing all confirmations and notifications on our edit pages.

[2019-10-29 07:07] soulseekah commented on #718
@vendojo please test the latest develop.zip please?

[2019-10-29 09:26] vendojo commented on #718
That's awesome, thanks mate! Works great, now, even when I have the 'Redirect to another page' setting enabled.

Just two minor things:

Ideally, the 'previous' and 'next' buttons would inherit the CSS classes and translation defined by the Gravity Forms plugin. That way you wouldn't have to translate/style them twice:
![screenshot-bwe6id myraidbox de-2019 10 29-10_20_10](https://user-images.githu

[2019-10-29 10:01] soulseekah commented on #718
@vendojo you should target the CSS correctly.

Regarding the update message it was there but with a link. It's without a link now. You can filter the message  by hooking into the new 'gravityview/edit_entry/page/success` filter.

[2019-10-29 10:33] soulseekah commented on #930
@vendojo looks like you're running the wrong version of the build, though. I removed your GravityView plugin and activated the `feature/duplicate` branch locally and it shows up well:

![image](https://user-images.githubusercontent.com/685880/67759499-9a9fc380-fa50-11e9-99d5-3dfc94181630.png)

Please take some time to install the branch version properly. Make sure your templates/fields/field-dupli

[2019-10-29 10:46] soulseekah commented on #1345
`nightly` should be fine.

[2019-10-29 10:50] soulseekah commented on #1345
`Errors: 1, Failures: 1`... continuing the battle.

The error is from #877 d04c10a20c42a333b9936e5bae71dac2ec37c7c2 which is a good thing, strangely (and hopefully). It should be failing but for other reasons.

The failure is being worked on.

[2019-10-29 16:26] soulseekah commented on #1345
Bah, I don't know... it's soooooo bad:

![image](https://user-images.githubusercontent.com/685880/67787597-e74fc280-fa81-11e9-822c-f4038bb41331.png)

But we're almost there: https://travis-ci.org/gravityview/GravityView/builds/604386137

[2019-10-29 16:49] soulseekah commented on #1345
There seems to be a bug in latest. `GravityView_Merge_Tags_Test::test_replace_date_updated` human time diff stuff. I would love to look into it if no update is released in a week or two, after handling more pressing matters. Okay?

[2019-10-29 17:02] zackkatz commented on #1345
@soulseekah Yep, sounds good.

[2019-10-29 17:26] zackkatz opened #1367 "Clean up /tmp/ folder after failed tests"
Temp files aren't removed  when tests fail, cluttering `/tmp/` directory.

See disussion here: https://gravityview.slack.com/archives/G727B06MB/p1572369683123700

![](https://i.gravityview.co/2EtBua+)

This is low priority.

[2019-10-30 03:06] rafaehlers opened #1368 "Unapprove Entries After Edit feature is not working"
![image](https://user-images.githubusercontent.com/1222472/67825730-0ada3380-faa9-11e9-9982-9fa66b54beac.png)

I used an Editor role to edit an existing entry submitted by another user and the entry kept is approval state = Approved.

Tested with GV 2.4.1.1

[2019-10-30 03:07] rafaehlers commented on #1368
https://secure.helpscout.net/conversation/982401118/22939/

[2019-10-30 06:03] vendojo commented on #930
@soulseekah love it, works without any problems :)

[2019-10-30 06:43] soulseekah commented on #1345
Seems to have helped locally:

![image](https://user-images.githubusercontent.com/685880/67834917-b8753300-faf9-11e9-8247-c7894f6650e2.png)

[2019-10-30 10:45] soulseekah commented on #840
Our test does not fail because a call to `GFFormsModel::get_field` has an internal cache in it that is called on regular requests and contains ALL the fields from the form.

Inside our edit entry test the cache is empty and the edit form has only got one field in it. The rest are hidden.

I think I now know how to make the test fail.

[2019-10-30 19:25] soulseekah commented on #840
![image](https://user-images.githubusercontent.com/685880/67891702-29e9cb80-fb64-11e9-8ae2-46aa13d9a2e8.png)

Something like this is the quickest fix, but I suspect there will be logical problems elsewhere.

[2019-11-01 14:01] soulseekah commented on #840
Closing until more edge cases pop up.

[2019-11-01 14:22] soulseekah commented on #1262
I have insufficient permissions to create a new repository, @zackkatz

![image](https://user-images.githubusercontent.com/685880/68031169-240efa00-fccc-11e9-9dab-361120767625.png)

Please create a `gravityview-presets` repository (or whatever you want it called). Thanks.

[2019-11-01 14:23] soulseekah commented on #883
I have insufficient permissions to create a new repository, @zackkatz

![image](https://user-images.githubusercontent.com/685880/68031169-240efa00-fccc-11e9-9dab-361120767625.png)

Please create a `gravityview-presets` repository (or whatever you want it called). Thanks.

[2019-11-01 15:30] zackkatz commented on #883
Called Presets. @soulseekah

[2019-11-01 18:10] soulseekah commented on #883
@jlgrisham can you please test the https://github.com/gravityview/GravityView/archive/feature/remove-presets.zip branch a bit, please?

Let me know if you see anything that crashes, acts weirdly, etc.

[2019-11-01 18:10] soulseekah commented on #883
The functionality will be moved here: https://github.com/gravityview/Presets

[2019-11-03 09:30] soulseekah commented on #1278
Seems like the Paragraph field suffers from the same issues.

[2019-11-03 10:40] vendojo commented on #930
@soulseekah when will this be available in the stable version?

[2019-11-03 10:41] vendojo commented on #718
@soulseekah fair enough. Seems to be working fine. When will this feature be available in the stable version?

[2019-11-03 10:45] soulseekah commented on #718
By the end of November, we hope. We need more testing before rolling it out.

[2019-11-03 10:46] soulseekah commented on #930
As with the multipage entries - by the end of November. Cheers. @vendojo

[2019-11-04 16:37] jlgrisham commented on #844
Ok this works with `user` instead of `current_user:`

`[gravityview id="8" search_field="created_by" search_value="{user:ID}"]`

[2019-11-04 18:14] zackkatz commented on #844
Crap, yep—it's `{user}` or `{created_by}`. Sorry 'bout that!

https://docs.gravityview.co/article/281-the-createdby-merge-tag

[2019-11-04 18:14] #844 closed

[2019-11-05 11:44] soulseekah commented on #840
https://secure.helpscout.net/conversation/995980900/23204

[2019-11-05 12:20] #840 closed

[2019-11-06 03:39] rafaehlers commented on #1140
@soulseekah where did you get that Merge Tag? I couldn't find it in the Gravity Forms KB articles.

[2019-11-06 03:40] #1140 closed

[2019-11-06 03:42] rafaehlers opened #1369 "[Survey Add-On] no way to pull scoring of Likert choices"
![image](https://user-images.githubusercontent.com/1222472/68266525-1b9d2300-002e-11ea-8174-e7349db68317.png)

I tried using the field Merge Tag in conjunction with the :value modifier `{Survey:1:value}` but that didnt' work.

Tested on GV 2.4.1.1

[2019-11-06 03:42] rafaehlers commented on #1369
https://secure.helpscout.net/conversation/998114679/23231

[2019-11-06 07:38] soulseekah commented on #1369
We implemented this quite a bit of time ago.

[2019-11-06 07:38] soulseekah commented on #1369
https://github.com/gravityview/GravityView/issues/1195

Needs testing. Closing as duplicate of #1195

[2019-11-06 07:38] #1369 closed

[2019-11-06 07:38] soulseekah commented on #1195
https://secure.helpscout.net/conversation/998114679/23231

[2019-11-06 07:57] soulseekah commented on #1140
@rafaehlers in the GF Survey plugin :)

[2019-11-07 00:33] zackkatz opened #1370 "When old Gravity Forms is running (<2.3), causes fatal error"
This admin notice runs earlier than `GravityView_Admin_Notices` is loaded, and also `\GV\Utils` doesn't exist yet because `Core::init()` hasn't run yet.

![](https://i.gravityview.co/uRWjMG+)

- Install Gravity Forms
- Install and activate GV
- "This site is experiencing technical issues"

This was on Multisite with "directory" structure, not subdomains.

@soulseekah Please fix asap.

[2019-11-07 01:19] rafaehlers opened #1371 "The {get} Merge Tag doesn't work on a DataTables View called by the [gravityview] shortcode"
Usage:

`[gravityview id="12" search_field="created_by" search_value="{get:userid}"]`

Tested on
GV 2.4.1.1
DT 2.4.1

[2019-11-07 01:20] rafaehlers commented on #1371
https://secure.helpscout.net/conversation/991844427/23130

[2019-11-07 04:07] rafaehlers commented on #794
@soulseekah which branch? this doesn't work on the current `master`.

[2019-11-07 14:55] soulseekah commented on #1370
I've allowed more of core to load when not compatible. This includes \GV\Utils. Should work well, please verify. Thank you.

[2019-11-07 19:56] soulseekah commented on #794
Yes, @rafaehlers I may have forgotten a `return $atts;` line in the filter, sorry. Fixed above. Try again. I tested on `develop` it works. `master` should work as well.

[2019-11-07 20:07] soulseekah commented on #1371
Works well on `develop`:

![image](https://user-images.githubusercontent.com/685880/68423451-3351e400-01b3-11ea-820b-e8eae97b8138.png)

![image](https://user-images.githubusercontent.com/685880/68423469-3a78f200-01b3-11ea-861d-82cc3938e83a.png)

Might be a user error. Test and ask for more access, probably has some sort of filter kicking off somewhere, @rafaehlers, please and thank you.

[2019-11-07 20:09] zackkatz commented on #1371
@soulseekah The issue is on DataTables, not Core.

[2019-11-07 20:10] soulseekah commented on #1371
Duh!

[2019-11-08 17:58] rafaehlers commented on #794
[code]

Does the job!

[2019-11-08 17:58] #794 closed

[2019-11-09 12:35] soulseekah commented on #1371
This is a pretty difficult issue to resolve.

The main problem is that the AJAX data call has absolutely no context of the filters that were passed to the shortcode and grabs the View as configured statically in the backend.

I've tried a couple of approaches, nothing too successful so far, but I think this can be had.

[2019-11-09 13:03] soulseekah commented on #1371
Can we have a test on `develop`  for both GravityView and Datatables, please? @rafaehlers @jlgrisham

[2019-11-10 20:37] soulseekah commented on #804
GFQuery does not know how to search within JSON fields it seems.

`GF_Query_JSON_Literal` is detected but `%urology%` is not converted to `%"urology"%` for exact matching. Wrapping the term with `"` signs produces a lot of `\\\\"` that don't match what we need when escaped.

I think we need to somehow override these JSON-based multifields in the query and add them as quoted searches.

[2019-11-10 20:57] soulseekah commented on #804
![image](https://user-images.githubusercontent.com/685880/68550665-cb4f0800-0415-11ea-903a-195823e99bbc.png)

Something like this works, but I don't like it at the moment. I want to give it some more thought.

[2019-11-11 08:48] soulseekah commented on #804
We also need figure out how to make the "is" and "contains" operators work for JSON-based multifields.

I'm assuming "is" has to match the selection exactly, so ["one","two"] is NOT "one", but is ["one","two"].
"contains" matches a partial ["one","two"] contains "one".

This is only for select, multiselect, dropdown, radio search controls. Text search is always inexact, unless quoted, I think. Sea

[2019-11-11 10:54] soulseekah commented on #877
Since we will have to synchronize with the edit backend we'll have to use GFEntryLocking for sure, piggyback off its functionality as suggested by Rafael.

[2019-11-11 17:36] jlgrisham commented on #862
"Move featured entries to top" working as expected with the ANY Advanced Filter and with the All option for DataTables pagination.

[2019-11-12 10:06] soulseekah commented on #877
![image](https://user-images.githubusercontent.com/685880/68662120-4109bf80-054d-11ea-8868-388c69ab74f2.png)

Almost there.

[2019-11-12 14:14] soulseekah commented on #877
Jesus the whole heartbeat thing they have setup is pretty feeble. Breaks 50% of the time when testing the backend manually. Our thing will behave in a similar unreliable way :) for now.

[2019-11-12 14:38] zackkatz commented on #877
@soulseekah it should also prevent non-admins from being able to edit at all. Can you write a doc with how it’s supposed to work, so we can test against that?

[2019-11-12 15:08] soulseekah commented on #877
All edit locks are purely advisory and are JavaScript based. It's very simple to bypass them. Just like it's easy to bypass Post locks in WordPress. It has nothing to do with user permissions, @zackkatz. Let me know if I'm missing something, please.

[2019-11-12 15:12] soulseekah commented on #1368
Very possibly related https://secure.helpscout.net/conversation/987967925/23050?folderId=408733tleg

[2019-11-12 15:16] jlgrisham commented on #1342
Not able to get this working in my testing. No feedback from the customer still, but I'm getting the same results she is.

I have 2 forms joined by Last Name. When I add the search bar with Search Everything then search for a last name, no results from the secondary form appear.

[2019-11-13 02:39] mrcasual opened #1372 "When switching data source in View, added widgets retain origin form ID"
View widgets contain a hidden input field (`.field-form-id`) with the form ID for which they were added. When switching data source to another form, the input field's value remains unchanged.

[2019-11-13 05:19] soulseekah commented on #1368
Checked with Subscriber role. Entry was unapproved correctly.

[2019-11-13 05:21] soulseekah commented on #1368
Our autounapprove feature is only called if all of these conditions are met:

1. editing from the frontend (specifically via the gravityview/edit_entry/after_update action)
2. with the feature turned on for a View (check the Settings)
3. only for non-admins (accounts with gravityview_moderate_entries
4. gravityview/approve_entries/autounapprove/status filter is not set anywhere to false

I've test

[2019-11-13 05:36] soulseekah commented on #1368
https://secure.helpscout.net/conversation/1005071625/23359/ also somewhat related but this is not the autounapprove feature as far as I can tell. They're editing from the backend.

[2019-11-13 06:06] soulseekah commented on #1262
https://secure.helpscout.net/conversation/1000369136/23277/

[2019-11-13 06:13] soulseekah commented on #1372
Related to #1358

[2019-11-13 07:12] rafaehlers opened #1373 "Fix enqueued scripts and styles when embedded in ACF fields"

[2019-11-13 07:13] rafaehlers commented on #1373
https://secure.helpscout.net/conversation/1005303316/23364/

[2019-11-13 08:13] rafaehlers commented on #1368
@zackkatz let's make it work for admin as well (please check point 3 above and @soulseekah 's comment below). It'll be intuitive that way. I didn't know myself that only worked for non-admins.

[2019-11-14 05:50] soulseekah commented on #1361
https://secure.helpscout.net/conversation/1005572817/23367

[2019-11-14 13:54] rafaehlers commented on #1349
Confirmed it's working: https://secure.helpscout.net/conversation/1006040708/23375

[2019-11-14 17:49] rafaehlers commented on #1368
https://secure.helpscout.net/conversation/982401118/22939

[2019-11-15 05:03] soulseekah commented on #1372
I think I fixed this. @mrcasual does this do what you need?

(recompile minified versions if needed).

[2019-11-15 05:04] zackkatz commented on #718
@soulseekah

- Validation works
- I think we should make it clear this _won't work with Review Page_ because we're saving at each page

### "Support Conditional Logic page breaks" still isn't working.

Here's a two-page form with "page conditional logic" https://i.gravityview.co/NaxtkU

- Create an entry where the checkbox is checked and number filled out
- Edit that entry in a View
- Uncheck the

[2019-11-15 05:16] soulseekah commented on #1368
[code]

[2019-11-15 05:20] soulseekah commented on #1364
We should definitely hide them if user has no cap to edit / delete based on View settings (allow user edit).

[2019-11-15 05:28] zackkatz commented on #1001
I'll take your word for it that this works.

@jlgrisham Can you write a doc for this, using phrases you think people would search for? Like "page counter", etc? Please make sure to include Gennady's limitations section

[2019-11-15 05:32] zackkatz commented on #1368
@jlgrisham Can you please write a doc with Gennady's snippet?

[2019-11-15 15:17] soulseekah opened #1374 "Delete Entry not available for subscribers"
![image](https://user-images.githubusercontent.com/685880/68953977-18472b80-07d4-11ea-802b-b7c8dcd68a55.png)

![image](https://user-images.githubusercontent.com/685880/68953986-1da47600-07d4-11ea-8c50-f57232c410df.png)

Edit Entry works, Delete Entry doesn't work.

`check_user_cap_delete_entry` returns false, even though the entry was created by the user

Discovered during work on #1364

[2019-11-15 15:34] soulseekah commented on #1374
Doh. User Delete is a separate setting.

Not intuitive at all. There are two settings one inside the field, the other inside the view.

[2019-11-15 15:34] #1374 closed

[2019-11-15 15:55] zackkatz commented on #1374
@soulseekah when you experience things like that, please create a ticket for us to fix them. Let’s improve that!

[2019-11-15 15:58] soulseekah commented on #1374
We wanted to create a second setting in edit view, I think we had a ticket somewhere for granular edit permissions as well on a per-field basis. I'll try to find it :D

[2019-11-16 04:16] soulseekah commented on #1364
WIP on the `feature/delete-edit-hide-linkage` if anyone wants to play around with it. It looks pretty good but needs unit-tests and manual tests.

[2019-11-16 04:38] soulseekah commented on #1364
- [ ] Also do duplicate entry
- [ ] Unit tests

[2019-11-16 09:34] soulseekah opened #1375 "`after_update_entry_update_approved_meta` disapproves on partial form"
If there's an Approve/Disapprove field on the entry and it's not included in the Edit Entry configuration the `after_update_entry_update_approved_meta` will set the entry to disapproved.

https://secure.helpscout.net/conversation/1005071625/23359?folderId=1210164

Distantly related to #1307 I'm almost sure.

[2019-11-16 10:02] soulseekah commented on #1375
Initial conditions:

1. Create a form with a text field and an Approve/Disapprove checkbox field.
2. Create a view add the text field to the Edit Entry configuration.

Here's what the problem is:

1. When an entry is saved the Approve/Disapprove checkbox is read.
2. If the checkbox is not set - the entry is Disapproved (`after_update_entry_update_approved_meta`)
3. The checkbox is not set when an

[2019-11-19 04:25] soulseekah commented on #877
This is ready to be tested. It's pretty raw but it should work overall. I've done a lot on my end but you guys might manage to break things :)

[2019-11-19 14:30] #1372 closed

[2019-11-19 15:19] soulseekah commented on #1375
Do we convert this to a radio input with 3 choices?

Disapproved
Unapproved
Approved

Meanwhile I've added a `gravityview/approve_entries/update_unapproved_meta` filter that allows our edit entry extension to override the behavior. If the approval field is not present in the configuraiton then leverage the filter above and return the same exact status that the entry has (i.e. no change!).

[2019-11-20 05:32] soulseekah commented on #804
https://secure.helpscout.net/conversation/1010775016/23477?folderId=408735

[2019-11-20 07:15] soulseekah commented on #1373
https://secure.helpscout.net/conversation/1011097552/23489

[2019-11-20 18:22] zackkatz opened #1377 "Write unit tests for Duplicate Entry"
Can you add some tests, regardless of the color?

_Originally posted by @zackkatz in https://github.com/gravityview/GravityView/pull/1360#issuecomment-554220719_

[2019-11-20 19:33] zackkatz commented on #795
@rafaehlers I updated the doc to be clearer: https://docs.gravityview.co/article/57-customizing-urls

[2019-11-20 19:33] #795 closed

[2019-11-21 04:36] soulseekah commented on #1377
A todo of https://github.com/gravityview/GravityView/issues/930

[2019-11-21 05:44] soulseekah commented on #718
On a related note, the " Enable Next Button Conditional Logic " feature will very very probably not work either. I'll test after I manage to fix the conditional logic page breaks.

[2019-11-22 16:59] soulseekah commented on #718
Haven't been able to get the Next Button Logic to work yet, but Conditional hide/shows of pages has been implemented and briefly tested. Please try it out whoever is interested.

[2019-11-23 04:05] soulseekah commented on #1262
This does seem to work for me pretty well.

[code]

Note that I wrap into document ready. Everything seems to be fine.

[2019-11-23 04:38] soulseekah commented on #1118
Single Entry oEmbed:

![image](https://user-images.githubusercontent.com/685880/69473210-37415100-0dc4-11ea-911c-dd5c2fd92514.png)

Directory oEmbed:

![image](https://user-images.githubusercontent.com/685880/69473051-fa288f00-0dc2-11ea-954a-461295776e65.png)

I think an even bigger additional issue is that the rendering is absolutely off, no line breaks, nothing, no HTML for directories.

[2019-11-23 05:24] soulseekah opened #1379 "Render oEmbed Views correctly"
Right now the oEmbed for regular Views does not render a View but renders a default card for posts:

![image](https://user-images.githubusercontent.com/685880/69473051-fa288f00-0dc2-11ea-954a-461295776e65.png)

Thought on what would be better?

[2019-11-23 05:27] soulseekah commented on #1379
Probably related #812

[2019-11-23 05:28] soulseekah commented on #1118
We have no oEmbed handler for regular Views, that's why the default WordPress post handler comes in. Needs a new issue of its own. #1379

Also related #1314, #1079

[2019-11-23 05:33] soulseekah commented on #1079
This is strongly related to #1118

[2019-11-23 05:38] soulseekah commented on #1079
I'm unable to reproduce this one. Backing off for now.

[2019-11-24 09:24] soulseekah commented on #1118
Our single entry oEmbed handler does not know how to handle edit links. The links are relative to the oEmbed.

Our options:

1. Make them work in an oEmbed context.
2. Make the edit entry link detect an oEmbed context and output a direct link to the View edit.

I think 1 is the better way to go. Thoughts?

[2019-11-24 09:59] soulseekah commented on #1342
Are you sure you're doing this on `develop`, Jerry? It's working fine for me:

![image](https://user-images.githubusercontent.com/685880/69492974-18bd8180-0eba-11ea-92c9-66ccbc8ff14c.png)

![image](https://user-images.githubusercontent.com/685880/69492981-296df780-0eba-11ea-956c-2260b0d7a1b6.png)

![image](https://user-images.githubusercontent.com/685880/69492985-312d9c00-0eba-11ea-8ca6-1e252edd77

[2019-11-24 10:34] soulseekah commented on #1373
As a note: this seems like the same issue we have with people using `do_shortcode` in their themes, calling a a shortcode in a template. I can't find the related issue on GitHub, maybe we never created it.

[2019-11-24 11:39] soulseekah commented on #1373
I wonder which page builder is being used.

[2019-11-25 17:53] rafaehlers commented on #1310
https://secure.helpscout.net/conversation/1015258708/23556/

[2019-11-26 14:57] soulseekah commented on #1377
And I'm done I think.

[2019-11-26 19:48] soulseekah commented on #804
https://github.com/gravityview/DataTables/issues/122

[2019-11-26 19:54] zackkatz commented on #1176
Yes, can you write that doc, Gennady? It can be technical; ping me when it's ready and I can edit it.

[2019-11-26 19:55] zackkatz commented on #1118
Yep, 1 is better @soulseekah

Directory embeds are not supported, just single entry and, ideally, edit.

[2019-11-26 19:57] zackkatz commented on #804
@soulseekah What feedback do you need for this?

[2019-11-26 20:05] soulseekah commented on #804
Quoting from above:

we also need figure out how to make the "is" and "contains" operators work for JSON-based multifields.

I'm assuming "is" has to match the selection exactly, so ["one","two"] is NOT "one", but is ["one","two"].
"contains" matches a partial ["one","two"] contains "one".

This is only for select, multiselect, dropdown, radio search controls. Text search is always inexact, unless

[2019-11-26 20:08] zackkatz commented on #804
Yep that sounds good, @soulseekah

[2019-11-27 00:34] zackkatz commented on #1082
@soulseekah Please create a separate issue for the feature, including making note of what field settings would be needed in the View Configuration screen.

[2019-11-27 04:33] soulseekah opened #1381 "Allow sorting by Custom Content field (PHP-side filter and sort support)"
Biggest reason to have this: this will allow sorting by Custom Content fields or calculation.

------

Forked from #1082

Very often entry values are unsortable in the database without extra special processing and query injection. Very often entry values don't even exist as they are dynamically populated.

Very probably https://secure.helpscout.net/conversation/790197340/19403/
And I'm sure Meliss

[2019-11-27 04:42] soulseekah opened #1382 "Don't show embedded Views when they're in the trash"
dd73868ede520396d9603e8868e54311ae1b7d68 started on this without a related issue.

Needs polishing and tests.

[2019-11-27 06:04] soulseekah commented on #1382
Okay, so I don't think we've ever been showing trashed Views, have we? So what is the patch about? What's the initial ticket? I'm pretty confused.

[2019-11-27 07:34] soulseekah commented on #1176
https://secure.helpscout.net/docs/566dfabbc6979143615564bf/article/5dde1efe2c7d3a7e9ae47807/

[2019-11-27 07:34] #1176 closed

[2019-11-27 09:13] soulseekah commented on #1361
https://secure.helpscout.net/docs/566dfabbc6979143615564bf/article/5841070c903360069817599c/

https://docs.gravityview.co/article/395-wpml

[2019-11-28 06:36] soulseekah commented on #1382
![image](https://user-images.githubusercontent.com/685880/69782616-99ce8e80-11c2-11ea-9fb5-04fad0e776e4.png)

[2019-11-28 07:37] soulseekah commented on #1261
Bump. We need an action plan on this high priority issue that's almost a year old now :)
I believe @mrcasual is the right person for this task.

@zackkatz

[2019-11-28 07:40] soulseekah commented on #1075
Guh @zackkatz :)

What's the action plan here?

Related: https://github.com/gravityview/Import-Entries/issues/183

[2019-11-28 07:41] soulseekah commented on #625
The oldest High Priority issue we have :)

[2019-11-28 07:45] soulseekah commented on #946
What's the latest on this, guys? :)

[2019-11-28 07:52] soulseekah commented on #1174
This needs a UI. The backend is done as far as I can see.

[2019-11-28 07:57] soulseekah commented on #1373
Related https://github.com/gravityview/GravityView/issues/1070

[2019-11-28 13:49] soulseekah commented on #197
Wow, this is old!

I am almost sure that this can be accomplished with the `[gventry]` shortcode in some way. Maybe tack on an AJAX handler that does a lightbow with a request to an endpoint that will just do `do_shortcode()` for example. And since the shortcode now supports edit mode (thanks #850). I'll add a small demo to test shortly.

[2019-11-30 10:11] soulseekah commented on #197
Here's an mu-plugin that can be used to play with this idea. It's very raw. Edit may not work correctly as there is a lot of context issues especially when POSTing data from within the lightbox. The edit should be AJAXified. Next and Prev not implemented yet. But let's see how it goes.

[code]

[2019-11-30 13:11] soulseekah commented on #809
https://secure.helpscout.net/conversation/105661465/2914/

[2019-11-30 13:12] soulseekah commented on #809
Also related, but this is a "view" slug instead of "search" https://secure.helpscout.net/conversation/498316192/12727

[2019-11-30 13:22] soulseekah commented on #809
Reproduced:

![image](https://user-images.githubusercontent.com/685880/69901062-52e0c480-138d-11ea-98b0-a6876102793b.png)

[2019-11-30 13:34] soulseekah commented on #809
"search" is a reserved source, I'm not entirely sure we should be messing with it by reordering ourselves:

[code]

I don't think anyone should ever be naming their pages like that. While it matches fine like this:

[code]

If anything else is added after `/search/` WordPress matches the search page almost always:

[code]

We could try to put `| (.?.+?)/entry(/(.*))?/?$ | index.php?pagename=$match

[2019-11-30 13:48] soulseekah commented on #684
What would this look like, I'm confused.

![image](https://user-images.githubusercontent.com/685880/69901317-e49e0100-1390-11ea-8040-72f12816ff44.png)

[2019-11-30 14:01] soulseekah commented on #750
The Slack link no longer works.

Views have their own visibility settings. What behavior are we looking to get?

For Edit Entry, I agree, when Edit is unconfigured we should be hiding administrative fields. We have recently fixed this in #1292

Thoughts?

[2019-11-30 14:44] zackkatz commented on #684
`colspan=2`

[2019-11-30 16:16] zackkatz commented on #809
We should show a warning when saving the view when the slug matches a reserved source.

[2019-12-01 11:39] soulseekah commented on #809
But we don't know whether the View we are saving is embedded in a page with a /search/
I'm not even talking about saving a View with a reserved slug which is a different but very related issue. Haven't thought about it.

On a page or a post or a CPT (this includes a View type) that has a /search/ slug. If administrator show a warning?

[2019-12-01 11:42] soulseekah commented on #684
This is not helpful, I've tried adding the attribute to the tr, the th and the td, it all looked messed up. What's the final table supposed to look like? Sorry :)

[2019-12-01 12:23] soulseekah commented on #777
I think this can be covered by DIY https://demo.gravityview.co/blog/view/diy/

Or do we want something built into core instead?

[2019-12-01 12:32] soulseekah commented on #811
With our new #1380 filter we can probably pull this off without doing anything with the search widget. Investigating.

[2019-12-01 20:39] zackkatz commented on #809
@soulseekah Yes, any time we know things will break due to configuration, we should show show a warning.

[2019-12-02 09:43] soulseekah commented on #811
As an mu-plugin. Works on latest `develop` only as it requires the new filter we merged in #1380 (what a nice coincidence).

[code]

[2019-12-02 12:05] soulseekah commented on #1070
`GravityView_frontend::add_scripts_and_styles` is only triggered when `GravityView_frontend::getGvOutputData` returns something. And we seem to always be returning it so the scripts and styles are always included, even if the data is empty:

![image](https://user-images.githubusercontent.com/685880/69957708-3c18aa00-1514-11ea-99d4-e4da87c0b906.png)

It's a truthy object. I've played around with th

[2019-12-03 07:07] soulseekah commented on #809
- [ ] Reserve "search" (`WP_Rewrite::$search_base`), "view", "entry" slugs (latter two according to https://docs.gravityview.co/article/57-customizing-urls)
- [ ] direct View access
- [ ] shortcodes
- [ ] oEmbeds
- [ ] tests

[2019-12-03 08:50] soulseekah commented on #809
The documentation is at https://secure.helpscout.net/docs/566dfabbc6979143615564bf/article/5de618682c7d3a7e9ae4a707/ and should be published so we can get a public URL for the warning message. @zackkatz

[2019-12-03 12:57] soulseekah commented on #809
Manual testing looks good. Unit tests look good, will finalize and push tomorrow.

I propose a merge after 2.5 is released, unless you want to include it in 2.5 after a bit of further testing :)

I am, however, very sure that there will be other cases of this. I suspect we'll see this pop up in date archives, category slugs, etc. permalinks are a pain here. I've used up too much time on this one i

[2019-12-04 12:07] soulseekah commented on #809
This is done.

For @zackkatz:

- [ ] check and modify language strings as needed
- [ ] check and publish documentation
- [ ] set documentation URL in the warning message
- [ ] PR and merge

whew.. this was a tough one

[2019-12-04 14:11] soulseekah commented on #804
I'm even thinking that this is a Gravity Forms issue actually. And that it has to be patched inside GF_Query instead.

[2019-12-04 19:26] zackkatz opened #1384 "Add "Duplicate Entry" functionality to the Gravity Forms Entries screen"
It should be added as an "Entry action" link.

Questions:

- Should there be an admin setting per-form?

[2019-12-04 20:51] zackkatz opened #1385 "Add logging when lightbox isn't enabled because of secure links"
It's very hard to know what is happening when the lightbox doesn't work. We should **at least** log a warning when logging is enabled, to help with supporting this feature.

Re: #1305

[2019-12-04 20:56] zackkatz opened #1386 "Switch lightbox script to one that supports secure links"
Our lightbox functionality doesn't work properly out of the box because we're using an ancient script that is bundled with WordPress. It's time to move on.

- [ ] Pick the library to use
- [ ] Provide advance warning to developers that the switch will be made
- [ ] Rename the `gravity_view_lightbox_script` and `gravity_view_lightbox_style` filters for goodness' sake
- [ ] Update documentation http

[2019-12-04 20:58] zackkatz commented on #1305
This will be resolved with #1386 and helped by #1385

I'm closing because it works, but it ain't great.

[2019-12-04 20:58] #1305 closed

[2019-12-04 21:19] zackkatz commented on #1230
@gravityview/support Please test this

[2019-12-04 21:24] zackkatz commented on #714
https://secure.helpscout.net/conversation/1023188790/23760/

[2019-12-04 21:24] zackkatz commented on #714
I agree with the customer on this—it should at least be a View-wide setting.

[2019-12-05 04:07] #1324 closed

[2019-12-05 04:07] #949 closed

[2019-12-05 04:07] #1278 closed

[2019-12-05 04:07] #1345 closed

[2019-12-05 04:07] #1370 closed

[2019-12-05 04:07] #1375 closed

[2019-12-05 04:07] #977 closed

[2019-12-05 05:52] soulseekah commented on #877
The AJAX heartbeat/lock refresh end of things have to be tested as well here.

[2019-12-05 05:53] #1377 closed

[2019-12-05 06:05] soulseekah commented on #1364
This is merged into `master`. We still need tests, duplicate entry and approval etc.

[2019-12-05 06:33] #983 closed

[2019-12-05 06:38] soulseekah commented on #1384
I don't think anyone would mind, but we can certainly have a filter for the one time someone wants the action gone.

[2019-12-05 06:49] soulseekah commented on #1386
Another major (if not the most important) priority is for it to work with secure links. That's the only way we can remove the `allow_insecure_lightbox` filter.

[2019-12-05 06:53] soulseekah commented on #714
This is similar to password fields. We have code in our edit entry that disregards passwords unless they have been changed, I think.

[2019-12-05 07:20] soulseekah commented on #1155
Maybe this can be bundled as high priority with #1386 as well while we're at it? @zackkatz

[2019-12-05 07:32] soulseekah commented on #1386
Some out of the box tests...

Featherlight:

![image](https://user-images.githubusercontent.com/685880/70213339-2260a800-174a-11ea-8836-00c8781d677b.png)

Thickbox:

![image](https://user-images.githubusercontent.com/685880/70213422-550aa080-174a-11ea-9a53-cfc712a61acc.png)

Foobox:

![image](https://user-images.githubusercontent.com/685880/70213485-7ec3c780-174a-11ea-8a45-66d1bef10459.png)

[2019-12-05 07:58] soulseekah commented on #1386
Managed to make it work with content-filter type property: https://github.com/noelboss/featherlight#content-filters

![image](https://user-images.githubusercontent.com/685880/70214473-8b491f80-174c-11ea-8c2b-463c0467fbb4.png)

So this is good.

For the look and feel I present you this short snippet. Put into mu-plugins/

[code]

I'd like you to play around with the look and feel a bit. Especially

[2019-12-05 11:59] soulseekah commented on #1384
Can be disabled with the `gravityview/duplicate/backend/enable` filter.

Example:

[code]

[2019-12-05 12:19] soulseekah commented on #1384
Initial functionality pushed. Needs feedback.
Needs tests.

[2019-12-05 12:26] soulseekah commented on #1368
No doc yet, I'm guessing?

[2019-12-08 02:54] girmay commented on #1013
This still happens btw if one deactivates gravity forms while all else is active (gravityviews and any installed extensions of gv)

[2019-12-09 08:29] soulseekah opened #1389 "whitelist/blacklist"
https://gravityview.slack.com/archives/G727B06MB/p1575615069047500

https://github.com/search?q=org%3Agravityview+whitelist&type=Code
https://github.com/search?q=org%3Agravityview+blacklist&type=Code

We should be using safelist and blocklist instead.

[2019-12-09 10:06] soulseekah commented on #1342
https://secure.helpscout.net/conversation/1024140698/23788/ another similar instance but not exactly this.

[2019-12-09 14:07] soulseekah commented on #1342
There are complicated issues with GF_Query global search. We've been rolling it back and forth this year. Back when we had our own Search_Condition it seemed to work much better, with some disadvantages.

I'm taking a couple of extra stabs at it.

[2019-12-09 15:02] soulseekah commented on #1342
This is actually https://github.com/gravityview/Multiple-Forms/issues/37 which we're in dire need to implement.

[2019-12-09 15:44] soulseekah commented on #1342
And it's actually not! So confusing. I now firmly believe that it's actually this issue! And I know how to reproduce it. Search mode has to be "all". That's how it breaks. Confirmed.

P.S. On a related security note do we allow mode changes without enforcing them? i.e. if a form is set to "any" changing the URL to "all", should that be allowed? Right now it is. @zackkatz

[2019-12-09 16:09] soulseekah commented on #1342
The generated SQL inside a joined form for a global condition (`{{ANY META FIELD}}`) will combine different form statements with the `mode` (`OR` or `AND`), when in fact it should always be an `OR`. This is a GF_Query issue actually.

[2019-12-09 17:51] ghost opened #1390 "Edit Entry link not working with [gventry] first and last ID values"
When using the [gventry] shortcode with id="first" or id="last" in a post or page like so:

[gventry entry_id="last" view_id="8"]

The Edit Entry link on the Single Entry View reloads the entry rather than loading the Edit Entry View.

To reproduce,:

### 1. Create or edit a View that includes the Edit Entry link on the Single Entry View:

![image](https://user-images.githubusercontent.com/4825557

[2019-12-10 05:14] rafaehlers commented on #1268
https://secure.helpscout.net/conversation/1026268043/23842/

[2019-12-10 05:34] rafaehlers commented on #1390
https://secure.helpscout.net/conversation/1026165459/23839/

[2019-12-10 13:32] zackkatz commented on #718
@soulseekah Can you share details on what the blocker is for the Next Button Conditional Logic functionality?

It'd be nice to have full feature parity.

[2019-12-10 13:58] soulseekah commented on #718
Next Button Logic involves pretty complicated logic code that I wasn't able to call correctly. The next option would be to rewrite the thing (this is pure JavaScript). On the other hand it's such a non-critical feature that it wouldn't be missed, I'm sure. Can we wait for someone to ask for it?

[2019-12-10 15:54] soulseekah commented on #1390
This wouldn't work with any ID actually. We barely implemented editing mode in #850

We should be able to implement edit detection by URL and nonce on [gventry] usage without `edit="true"`...

Needs priority.

[2019-12-10 15:58] #1230 closed

[2019-12-10 15:58] #1218 closed

[2019-12-10 16:00] #1341 closed

[2019-12-10 16:00] #1297 closed

[2019-12-10 16:00] #1227 closed

[2019-12-10 16:01] #862 closed

[2019-12-10 16:06] soulseekah commented on #1013
Does not happen on latest develop for GV, DT:

![image](https://user-images.githubusercontent.com/685880/70546323-204e7d00-1b80-11ea-8f47-affa34fc3b3e.png)

[2019-12-10 16:09] soulseekah commented on #1361
Bump. Also needs a priority.

https://secure.helpscout.net/conversation/1005572817/23367/

[2019-12-11 14:44] soulseekah commented on #1342
I have identified the exact issue. It's in `GravityView_Widget_Search::gf_query_filter`. We are looking at mode and doing this.

We are relying on `GF_Query::get_global_condition`, though, which sometimes generated really weird search conditions (especially for checkboxes, it seems).

I'll have a fix for our part shortly. But GF_Query is in dire need of attention for the global search, especially

[2019-12-12 03:09] zackkatz commented on #1329
Merged in core @ 2.5

[2019-12-12 03:09] #1329 closed

[2019-12-12 03:11] zackkatz commented on #669
@soulseekah can you add options to the UI? I'll tweak once you add them.

[2019-12-12 03:12] zackkatz commented on #1386
@jlgrisham Can you please test Gennady's code above?

[2019-12-12 10:52] soulseekah commented on #669
Well we really need to work out how we're going to add these.
We have several search options (filters) and joins #1342 that need to be housed in the dialog box. We need to rethink the whole admin UI, which we discussed in our last team meeting. No steps were taken in that direction yet.
Do I just plop a checkbox with a long description of what it does next to each field? That wouldn't look good at

[2019-12-12 12:56] soulseekah commented on #946
Bump.

[2019-12-12 13:39] soulseekah commented on #1357
I'm guessing GravityWiz changes everything. When will the plugin be shared with us?

Some initial thoughts:

1. How will configuration work? Or shall we output everything we can (UI could get clunky)
2. Where will the widget be output? On the Entries list in the backend?

[2019-12-12 13:50] soulseekah commented on #1179
Is this in a document somewhere? Doesn't seem to be in docs. Shall I throw something together?

[2019-12-12 14:03] soulseekah commented on #1174
How does GravityWiz affect us on this?

[2019-12-12 14:11] soulseekah commented on #1153
Related to #946

[2019-12-12 14:13] soulseekah commented on #1097
Can we close this @zackkatz with the Presets plugin that we have.

[2019-12-12 14:26] soulseekah commented on #1070
Bump.

[2019-12-12 14:27] soulseekah commented on #989
This hasn't been an issue that anyone else complained off. Setting to Low priority for now.
Difficulty is quite moderate. Needs EED work on the server.

[2019-12-12 14:29] soulseekah commented on #941
Fixed in 2.5; keeping open for a little bit more.

[2019-12-12 14:35] #930 closed

[2019-12-12 14:38] #1349 closed

[2019-12-12 14:47] soulseekah commented on #811
Bump. bump.

[2019-12-12 14:50] soulseekah commented on #820
I need access to the whole WPML suite for this and #1361 @zackkatz thanks.

[2019-12-12 14:55] #809 closed

[2019-12-12 15:01] soulseekah commented on #777
Bumpy bump.

[2019-12-12 15:07] soulseekah commented on #750
Bumpity bump.

[2019-12-12 15:08] soulseekah commented on #684
..boom! bump! bap!

[2019-12-12 15:19] soulseekah commented on #810
Context image:

![image](https://user-images.githubusercontent.com/685880/70724552-deead880-1d0b-11ea-837a-1e6bbfdaa564.png)

[2019-12-12 15:34] soulseekah commented on #810
Proposing a more vast implementation:

![image](https://user-images.githubusercontent.com/685880/70725742-f75bf280-1d0d-11ea-9b25-51bc53c43d9d.png)

[2019-12-12 15:41] soulseekah commented on #810
Also note that the `name_display` key is not limited to anything. When sending a POST request while saving the data it is possible to grab any userdata, pretty much. This needs to be fixed for minor security purposes.

[2019-12-12 16:00] soulseekah commented on #810
- [ ] Needs some tests
- [ ] Needs a documentation piece

Filters:

 - `gravityview/field/created_by/name_display`
 - `gravityview/field/created_by/name_display/raw`

[2019-12-13 00:17] zackkatz commented on #1371
@soulseekah When we need testing, please make sure to add to the Development Planning project and assign to the Needs Testing column:

![](https://i.gravityview.co/3pSlD1+)

[2019-12-13 00:19] #1371 closed

[2019-12-13 21:51] zackkatz commented on #1335
Closing until reported again. David provided some fixes, which may have addressed other issues.

[2019-12-13 21:51] #1335 closed

[2019-12-13 23:52] zackkatz commented on #1179
@soulseekah Yes, please add a doc forthis

[2019-12-14 02:32] rafaehlers opened #1394 "Editing a Partial Entry change its completeness to 0%"
As reported by a user and confirmed by me on GV 2.5:

[code]

[2019-12-14 02:32] rafaehlers commented on #1394
https://secure.helpscout.net/conversation/1031272280/23933/

[2019-12-14 09:48] soulseekah commented on #923
Why reopened? :) We have a new repo now don't we? :) https://github.com/gravityview/Admin-Views/

[2019-12-14 18:16] #1342 closed

[2019-12-15 12:52] soulseekah commented on #1179
This is here https://secure.helpscout.net/docs/566dfabbc6979143615564bf/article/5df60b1d04286364bc92deac can be checked, finetuned and published. Thanks.

[2019-12-15 12:52] #1179 closed

[2019-12-15 15:06] zackkatz commented on #1179
Nice article, @soulseekah ! Published.

[2019-12-16 18:20] zackkatz commented on #1271
@jlgrisham Can you please convert this into a doc?

[2019-12-17 10:20] soulseekah opened #1396 "Copy fields from directory to single to edit context"
View configuration tabs should have

Directory - copy from Single, copy from Edit
Single - copy from Directory, copy from Edit
Edit - copy from Directory, copy from Single

Make sure joins work.

[2019-12-17 11:09] soulseekah commented on #1394
Needs a priority please @zackkatz

[2019-12-17 22:33] zackkatz opened #1397 "[gvlogic] Allow "and", "or", and "xor" conditions in the shortcode"
From [UserVoice](https://gravityview.uservoice.com/forums/238941-gravityview-ideas/suggestions/17908231-allow-and-condition-on-gvlogic-please), and also requested via email by a customer.

### Proposal

Add three new attributes to the `gvlogic` shortcode:

- `and`
- `or`
- [`xor`](https://en.wikipedia.org/wiki/Exclusive_or)

### Possible structure

Each new attribute would be used as the prefix fo

[2019-12-17 23:37] zackkatz commented on #1070
@soulseekah Try reproducing the original issue: (Embed a [gravityview] shortcode in a Gravity Forms form).

Likely needs to have changes made in the code to support this.

[2019-12-18 10:44] soulseekah commented on #1397
...heh.. the idea is great, the proposed implementation is weird.

1. Only two conditions. What if we want 3 conditions? or_or? or_or_equals? etc.?

2. What about nesting and grouping?

The way to do complex server-side user logic right now is to register a custom merge tag and check it instead: `[gvlogic if="{custom_check}" is="1"]do it[/gvlogic]`. And do all the logic checks inside the merge tag

[2019-12-19 03:50] rafaehlers commented on #1275
https://secure.helpscout.net/conversation/1035896467/24031/

[2019-12-19 05:52] rafaehlers opened #1398 "The "Use a form preset" button is not working on version 2.5.1"
![image](https://user-images.githubusercontent.com/1222472/71148467-caba4600-21f9-11ea-939e-f1e3565066c5.png)

[2019-12-19 05:52] rafaehlers commented on #1398
https://secure.helpscout.net/conversation/1036570496/24053

[2019-12-19 09:47] soulseekah commented on #1398
This is probably part of #1392 somehow

[2019-12-19 13:14] zackkatz commented on #1398
I think it might be related to the accessibility stuff. @soulseekah changes in JS without HTML changes? I’ll check.

[2019-12-19 13:50] soulseekah commented on #1398
c43b8f2d0d08ecfdc99c764506e274ca881e8043 is the first bad commit according to bisect.

[2019-12-19 14:01] soulseekah commented on #1398
Fixed in latest.

[2019-12-19 21:09] zackkatz opened #1401 ""Check License" doesn't show disabled/expired license status"
**What happens:**

- Enter a disabled or expired license key into the License Key field
- Click Check License
- In "License Details", it doesn't show that the license is invalid or expired

**What it should do**

Show a message about the license not being valid!

![](https://i.gravityview.co/gvxo3u+)

[2019-12-19 21:41] zackkatz opened #1402 "Floaty is squished"
Floaty is squished in the warning on the Extensions screen when license isn't activated:

![](https://i.gravityview.co/SGBopm+)

[2019-12-20 03:27] rafaehlers commented on #961
https://secure.helpscout.net/conversation/1035908583/24032

@soulseekah how difficult this is?

[2019-12-20 07:29] soulseekah commented on #961
It's not too difficult, a less than 2 hours of work, likely. Should the radio option checked be synchronized across all the choices in a field? i.e. if a field contains 3 choices A, B, C, should B and C be set to "Value of the input" if A is set to "Value of the input"? Or should admins set each one individually?

[2019-12-20 07:42] rafaehlers commented on #961
Across all the choices I think.

[2019-12-20 21:29] jlgrisham commented on #1398
Tested with dev build. Form presets are back and working as expected.

[2019-12-20 22:17] jlgrisham commented on #1386
Featherlight working well in my initial testing. No issues with lightbox links not being added due to secure links.

![image](https://user-images.githubusercontent.com/48255575/71295938-efbece00-234b-11ea-90d2-39938f1db252.png)

[2019-12-30 12:10] soulseekah commented on #929
An overhaul of check_entry_display is required for https://github.com/gravityview/Advanced-Filter/issues/61

[2019-12-30 12:15] soulseekah commented on #929
Entries should be checked by all IDs within a View in the current context.

[2020-01-09 17:03] zackkatz commented on #1281
![](https://i.gravityview.co/tOPY0N+)

[2020-01-09 21:31] #1402 closed

[2020-01-09 21:42] zackkatz commented on #1368
https://docs.gravityview.co/article/657-unapproving-edited-entries-automatically?auth=true

[2020-01-09 21:42] #1368 closed

[2020-01-11 07:21] rafaehlers commented on #718
https://secure.helpscout.net/conversation/1045476411/24343

[2020-01-11 07:39] soulseekah commented on #929
Post Categories should work fine with the newer $view-based flow with GF_Query. I'm trying to make sure that check_entry_display is called with $view as a second parameter in all of our cases (except unit tests).

[2020-01-11 07:42] soulseekah commented on #718
Initial support landed in 2.5.1 but not documented.

It can be turned on using `add_filter( 'gravityview/features/paged-edit', '__return_true' );` for testing by customers who are willing to do so.

[2020-01-12 13:37] soulseekah commented on #929
https://github.com/gravityview/GravityView/issues/1185

This is an issue with GF_Query again. Looks like we don't support relative dates in plain GF_Query. It works fine for AF.

[2020-01-12 15:24] soulseekah commented on #929
I need to write tests for this particular issue with Post Categories and it can be closed. Stay tuned.

[2020-01-13 17:04] soulseekah commented on #929
This needs more work. We can't deprecate old path because there's GVCommon::get_entry which uses it without an ad-hoc View atm. We can maybe try is_view() or something, I'm still investigating. This is tough to get right :(

[2020-01-13 17:08] soulseekah opened #1406 "Alternative entry sources"
RFP

[2020-01-14 02:52] rafaehlers opened #1407 "Improve View editor loading time"
When adding multiple fields in a sequence to the View editor, it takes time for fields to be added. There's some sort of sluggish there in the Javascript action.

[2020-01-14 02:53] rafaehlers commented on #1407
https://secure.helpscout.net/conversation/1041333314/24147?folderId=408730
https://secure.helpscout.net/conversation/1046428449/24378?folderId=408730
https://secure.helpscout.net/conversation/1045570217/24348?folderId=408730

[2020-01-14 05:05] zackkatz commented on #1407
@rafaehlers are all these customers with lots of forms? Commonalities?

[2020-01-14 09:32] soulseekah commented on #1407
Might be related to https://github.com/gravityview/GravityView/pull/1141

[2020-01-14 13:39] soulseekah commented on #929
This is done.

A couple of things for those who will be looking at related code in the future:

check_entry_details expects everything to have been converted to SQL query form. That is if GF_Query doesn't know how to go from "today" to "2019-01-14" then don't try to feed it this. This will make sense as we use get_entries() and if the query doesn't have the proper values then the View will not out

[2020-01-14 16:08] #1406 closed

[2020-01-17 21:57] rafaehlers commented on #1407
@mrcasual That PR definitely worked for me! 👍

[2020-01-28 18:05] #1262 closed

[2020-01-30 08:57] asha23 opened #1411 "Conditionals not working on the Edit view on the frontend."
Edit pages (on the frontend) are not displaying conditional fields at all.

I have a select box, which displays corresponding fields depending on what is selected. However, none of the subsequent fields show.
--------

### Additional information

**This issue happens in the following settings:**

- [ List ] View
- [x ] Embedded via shortcode
- [ ] Embedded via oEmbed

**If shortcode, paste the sho

[2020-01-30 12:35] soulseekah commented on #1411
Couple of followup questions:

1. Are there any errors in the console?
2. What is your edit configuration? Is it empty (i.e. all fields are output)?

[2020-02-04 00:02] rafaehlers opened #1413 "Sorting by date and time is not working"
![image](https://user-images.githubusercontent.com/1222472/73701440-5dd70e80-46c8-11ea-84e8-b025eb2f19a3.png)

![image](https://user-images.githubusercontent.com/1222472/73701469-72b3a200-46c8-11ea-87cf-1afe42430c76.png)

Tested with GV 2.5.1

[2020-02-04 00:03] rafaehlers commented on #1413
https://secure.helpscout.net/conversation/1067618244/25017

[2020-02-04 14:27] soulseekah commented on #1413
Related to #1230

[2020-02-04 21:46] jlgrisham commented on #1118
Edit Entry link working when single entry embedded in a post.

[2020-02-04 22:01] jlgrisham commented on #1407
Much, much faster.

[2020-02-11 01:49] mrcasual commented on #1318
@rafaehlers do you recall what you meant by that?

[2020-02-11 04:57] rafaehlers commented on #750
Let's close this for now. I think this was related to "administrative fields":

![image](https://user-images.githubusercontent.com/1222472/74212194-d95d3080-4c71-11ea-948f-67b9e2923859.png)

[2020-02-11 04:57] #750 closed

[2020-02-11 05:32] rafaehlers commented on #1292
@soulseekah

`add_filter( 'gravityview/edit_entry/reveal_hidden_field', '__return_true' );` doesn't work to display hidden fields on Edit Entry page when no fields are added (not set):

![image](https://user-images.githubusercontent.com/1222472/74213155-b84b0e80-4c76-11ea-9f64-e3205c8b4ce5.png)

As specified here: https://github.com/gravityview/GravityView/issues/1292#issuecomment-526263162

Teste

[2020-02-11 05:33] rafaehlers commented on #1292
https://secure.helpscout.net/conversation/1073129860/25116

[2020-02-11 06:07] rafaehlers opened #1414 "Enhancement: Allow GravityView to change User Role on the View"
For forms that has a User Creation feed from the User Registration add-on.

[2020-02-11 06:07] rafaehlers commented on #1414
https://secure.helpscout.net/conversation/1069155761/25048/

[2020-02-11 06:27] rafaehlers opened #1415 "Enhancement: support Merge Tag modifiers for all date fields"
At this moment, you can only format date from the {date_created} Merge Tag. It will be amazing if we can use those modifiers to modify any other date field merge tag as well.

Related: https://docs.gravityview.co/article/331-date-created-merge-tag

This is requested often by our users.

[2020-02-11 06:27] rafaehlers commented on #1415
https://secure.helpscout.net/conversation/1078952864/25213/

[2020-02-11 07:32] rafaehlers commented on #1318
@mrcasual ugh, sorry, I don't.

[2020-02-13 02:41] #1118 closed

[2020-02-13 02:41] #1398 closed

[2020-02-13 10:13] rafaehlers commented on #1292
https://secure.helpscout.net/conversation/1082874980/25292/

[2020-02-13 18:03] zackkatz opened #1416 "Clicking Add Field causes Edit View page to resize"
After clicking Add Field, the Edit View page resizes. Upon inspection, this appears to be due to the `available-fields` `<div>`, which already has an `overflow: auto` on it.

![](https://i.gravityview.co/QCYzfL+)

[2020-02-13 18:05] #1416 closed

[2020-02-19 01:59] rafaehlers commented on #939
https://secure.helpscout.net/conversation/1086086668/25346

[2020-02-19 01:59] rafaehlers commented on #939
I believe the issue is related to this:

![image](https://user-images.githubusercontent.com/1222472/74794570-5310a200-52a2-11ea-8ea0-0d5405db9d33.png)

Almost the same thing as the WooCommerce account tabs.

[2020-02-19 03:17] rafaehlers opened #1417 "wp_kses conflicting with < > characters inside paragraph fields"
If you add a text like this inside a Paragraph field, the View will crop the text inside the `<` and `>` characters:

`Sed ut perspiciatis unde omnis <iste natus error sit voluptatem accusantium> doloremque`

Output on the View:

`Sed ut perspiciatis unde omnis doloremque`

Because of the line 29 in `wp-content\plugins\gravityview\templates\fields\field-textarea-html.php`

[2020-02-19 03:18] rafaehlers commented on #1417
https://secure.helpscout.net/conversation/1085700089/25338/

[2020-02-19 04:49] rafaehlers opened #1418 "Add a toggle to enable/disable Edit Entry locking"
Edit Locking feature is broken for some users. Let's add a toggle to disable that in the View Settings metabox.

[2020-02-19 04:49] rafaehlers commented on #1418
https://secure.helpscout.net/conversation/1087405860/25371/

[2020-02-19 13:20] soulseekah commented on #1417
It's treating it as a tag. Since the the Textarea field is HTML-aware the content users put in should be valid HTML. In valid HTML `<` is `&lt;` and `>` is `&gt;`.

Adding a setting is probably the best option - "Allow HTML". Having it on would do the wp_kses stuff and expect valid HTML. Having it off would just run esc_html on the output escaping any and all HTML. Best of both worlds.

[2020-02-19 22:00] jlgrisham opened #1419 "Show notice on Plugins page if license is invalid or expired"
When a license key is invalid or expired, the WordPress plugins page does not reflect that.

As an example, when the GravityView Settings page shows the license as expired:

![image](https://user-images.githubusercontent.com/48255575/74879908-24dda180-5338-11ea-9e77-98e9f81f585c.png)

the WordPress plugins page does not indicate that the license is invalid:

![image](https://user-images.githubuser

[2020-02-20 00:28] rafaehlers commented on #1174
https://secure.helpscout.net/conversation/1088242482/25390/

[2020-02-21 06:38] zackkatz commented on #877
Added in 2.6

[2020-02-21 06:38] #877 closed

[2020-02-21 06:56] #1292 closed

[2020-02-21 06:56] #1418 closed

[2020-02-24 12:46] mrcasual opened #1421 "Date/time fields can be displayed without WP's time zone offset."
Time/date fields on certain site configurations can be displayed without WP's time zone offset.

Solution: use `wp_date`, if available, or pass the timestamp with the proper offset to `date_i18n`.

[HS ticket](https://secure.helpscout.net/conversation/1031234646/23931?folderId=408733).

[2020-02-25 06:22] zackkatz opened #1423 "License key never stores properly after migrating from iThemes Security Pro"
When migrating a site using iThemes Security Pro:

[HS Issue 25431](https://secure.helpscout.net/conversation/1090548453/25431?folderId=408730)

Todo:

- [ ] Ask for license from iThemes Security Pro

[2020-02-25 06:51] zackkatz commented on #1413
Possibly here https://secure.helpscout.net/conversation/1092419905/25465

[2020-02-26 06:37] zackkatz commented on #1238
https://secure.helpscout.net/conversation/1077833650/25203

[2020-02-27 02:30] zackkatz commented on #941
Seems like this is okay…

[2020-02-27 02:30] #941 closed

[2020-02-27 17:33] zackkatz commented on #720
Resolved with #1001

[2020-02-27 17:33] #720 closed

[2020-02-28 03:58] rafaehlers opened #1426 "Search Bar enhancement: Search by number range"
Currently, the Search Bar widget allows users to filter entries based on exact matches or predefined criteria. However, for `number`, `product price`, `product quantity`, and `product total amount` fields, having the ability to search within a specific range (from a minimum value to a maximum value) would greatly enhance the UX, especially for directories, real estate listings, or any applications

[2020-02-28 03:58] rafaehlers commented on #1426
https://secure.helpscout.net/conversation/1095721538/25575/

[2020-03-03 03:07] rafaehlers opened #1427 "Unique ID field is erased when updating entry"
Form:

![image](https://user-images.githubusercontent.com/1222472/75739131-d4285a00-5ce2-11ea-97c8-4860eaa7eaf0.png)

View:

![image](https://user-images.githubusercontent.com/1222472/75739152-e609fd00-5ce2-11ea-9a49-8d1deafac141.png)

Edit Entry:

![image](https://user-images.githubusercontent.com/1222472/75739165-ef936500-5ce2-11ea-915e-7e397e5899b4.png)

No fields are added to the Edit Entry ta

[2020-03-03 03:08] rafaehlers commented on #1427
https://secure.helpscout.net/conversation/1096137558/25586

[2020-03-04 17:22] zackkatz commented on #1001
Doc here: https://docs.gravityview.co/article/683-track-pageviews-for-entries

[2020-03-04 17:22] #1001 closed

[2020-03-04 19:13] bennemann opened #1428 "The Merge Tags selector could be more noticeable when configuring a Custom Content field"
It's not so easy to notice that mysterious little square when you are not looking for it, especially when you are configuring a Custom Content field for the first time.

Maybe that little description above the textarea could mention it?

[2020-03-04 19:16] bennemann opened #1429 "Link Single Entry field back to Multiple Entries as a Search Filter"
As a first time user, I found a bit hard to realise how to accomplish that. I had a movies list and on the movie Single Entry, I had a Genre field that I wanted to link back as a search filter.

The current solution, to add a Custom Content field and create the link manually with the full URL and replacing query values with the Merge Tag, is not very user-friendly.

Maybe the field configuration c

[2020-03-05 08:37] rafaehlers opened #1430 "Allow other users than the entry creator to edit an entry"
We had to requests today for the same feature with different use cases:

1) The first user wanted to assign the entry to a second user which will have the power to edit one field. (sort of like the "claim your entry" functionality, but not quite).

2) The second one wants two people to have control over the data of one entry.

Not sure how that'll be done, just writing this down for the future.

[2020-03-05 08:38] rafaehlers commented on #1430
https://secure.helpscout.net/conversation/1100155411/25675/

[2020-03-06 06:55] rafaehlers opened #1431 "Enhancement: Check if wp_remote_request can reach GV servers before verifying license"
90% of the time our users complain about not being able to activate their license is due to ~cURL not being installed on their servers~ having a firewall or restriction on pinging external sites.

Let's check that before clicking on that button:

![image](https://user-images.githubusercontent.com/1222472/76059596-05f92500-5f5e-11ea-815b-7c3dc3a519df.png)

Update: [It appears](https://gravityview.s

[2020-03-06 06:55] rafaehlers commented on #1431
https://secure.helpscout.net/conversation/1082590428/25284

[2020-03-10 05:10] rafaehlers commented on #1427
Gravity Wiz fixed it on version 1.3.18

[2020-03-10 05:10] #1427 closed

[2020-03-12 07:47] rafaehlers opened #1432 "Filters lost when View is displayed inside the GravityView Recent Entries widget"
![image](https://user-images.githubusercontent.com/1222472/76498926-9337f000-641c-11ea-8c73-aa26bc432d2c.png)

Tested with GV 2.7.1 and AF 2.0.2

[2020-03-12 07:48] rafaehlers commented on #1432
https://secure.helpscout.net/conversation/1106107611/25782

[2020-03-15 13:32] rafaehlers commented on #1271
This is not working again. My code above doesn't work as well: https://github.com/gravityview/GravityView/issues/1271#issuecomment-515207108

[2020-03-18 22:12] bennemann commented on #1317
https://secure.helpscout.net/conversation/1113014338/25916

[2020-03-24 23:32] bennemann opened #1434 "Fields that should be hidden by Page Conditional Logic are displayed and editable regardless on Edit Entry Page"
![test-conditional-page-logic](https://user-images.githubusercontent.com/5726194/77486162-4813d900-6e2f-11ea-810f-2b6cb5b0f3c1.png)

![condition1](https://user-images.githubusercontent.com/5726194/77486290-99bc6380-6e2f-11ea-99ca-7a97022674d0.png)

JSON Form Export
[export-form-test-conditional-logic.zip](https://github.com/gravityview/GravityView/files/4378120/export-form-test-conditional-logic.z

[2020-03-24 23:48] rafaehlers commented on #1434
https://secure.helpscout.net/conversation/1117841864/26005

[2020-03-27 19:30] rafaehlers opened #1435 "Single Entry Title is no longer working"
As of GV 2.7.1 the Single Entry Title field doesn't work anymore:

![image](https://user-images.githubusercontent.com/1222472/77793065-378a7b00-7048-11ea-8b46-cb364a1f0914.png)

Tested with several WP default themes.

[2020-03-27 19:31] rafaehlers commented on #1435
https://secure.helpscout.net/conversation/1120493215/26053/

[2020-03-30 17:10] rafaehlers commented on #1430
Related: https://gist.github.com/bennemann/21772eeb4457e70dd38404032ca27a4e

[2020-03-30 19:00] bennemann commented on #1271
https://secure.helpscout.net/conversation/11(1630420/26072

[2020-04-01 00:03] bennemann commented on #1308
It seems "Move Featured Entries to the Top" is still breaking the search.

If "Move Featured Entries to Top" is checked on the settings of a View, you can't combine an Advanced Filter condition and a Search Bar filter. You can have them separately, but not combined.

Steps to reproduce:
1) Have "Move Featured Entries to the Top" checked on a View.
2) Add a Search Bar (any) and an Advanced Filter c

[2020-04-01 00:07] #1384 closed

[2020-04-03 22:21] mikerouse commented on #1173
Hey guys, sorry to drop in here, but desperate times are upon us. I've set up a charity in my local area to deliver relief and aid during the Coronavirus crisis, and we're doing some kick-ass stuff with GravityView - this plugin has helped us serve over 131 people and counting so far.

However... grouping would be awesome - why?

One View we have is to help our volunteers run a prescription collec

[2020-04-07 15:33] zackkatz commented on #1075
@mrcasual I'd love to get this up and running, with very basic tests to start with. Reminder: you can start with how Gravity Forms does tests: https://github.com/gravityforms/gravityforms/tree/master/tests/acceptance-tests

[2020-04-08 00:41] zackkatz opened #1437 "\GravityView_View::getInstance()->getViewId() isn't being set in single entry"
Happens on either View CPT or embedded. Visit a single entry, and `\GravityView_View::getInstance()->getViewId()` will return `0`.

I don't know why `setViewId()` isn't being run.

My current theory is that `template_redirect` (when the `$post` title tag is modified) happens too soon, and `add_action( 'gravityview/loaded', array( $this, 'include_legacy_frontend' ) );` isn't run yet.

The Entry not

[2020-04-08 03:27] mrcasual commented on #1075
@zackkatz [added](https://github.com/gravityview/GravityView/commit/4331c9714e69fc0a58d1e9174d0404b7feb27c8e).

[2020-04-08 19:47] bennemann opened #1438 "Wrong country variation on the names of the Danish language translation files"
The Danish translation for GravityView isn't using the right country variation on the .po and .mo files.

They are currently named "gravityview-da"[.po/.mo] when they should be named "gravityview-da_DK"[.po/.mo]

[2020-04-08 21:18] #1438 closed

[2020-04-08 21:18] zackkatz commented on #1438
Note: To fix, you add a language in Transifex https://www.transifex.com/katzwebservices/teams/18775/da_DK/

[2020-04-14 00:36] maljones commented on #1394
+1 for bumping this up the list too.

[2020-04-14 00:55] zackkatz commented on #1075
@mrcasual Is the only way to do this with a hard-coded database?

[2020-04-14 15:02] mrcasual commented on #1075
@zackkatz That one particular test uses prepopulated data but nothing prevents us from creating a View and other objects as part of a test.

[2020-04-17 00:24] #810 closed

[2020-04-17 00:24] #1432 closed

[2020-04-17 00:24] #1435 closed

[2020-04-17 00:24] #1394 closed

[2020-04-17 00:24] #1417 closed

[2020-04-17 00:24] #1428 closed

[2020-04-17 03:31] zackkatz opened #1443 "Confirm that Members "Content Permissions" settings work for View CPT"
A customer reported that using the Members plugin, they set the "Content Permissions" to specific roles, but that the View was not being limited to users in those roles.

@gravityview/support please confirm that "Content Permissions" restricts View visibility when accessing a View CPT (non-embedded View).

Thanks!

[2020-04-21 09:47] soulseekah commented on #1308
This actually works fine. Having an Any/Everything restriction has the correct SQL generated.

In the example error the Advanced Filter was set to field ID 2. So the correct way to reproduce it is to set explicit fields for either the Search Bar or the AF (or both).

[2020-04-21 10:53] soulseekah commented on #1308
Fixed by creating a stripping utility method and utilizing it inside the Featured Entries plugin. Please test and let me know.

This may need some unit tests.

Cheers.

[2020-04-21 23:08] rafaehlers opened #1445 ""Hide empty fields" option doesn't work in Table View and DataTables"
![image](https://user-images.githubusercontent.com/1222472/79923420-d7e77b80-840b-11ea-8194-f9d2e5e30367.png)

![image](https://user-images.githubusercontent.com/1222472/79923437-dfa72000-840b-11ea-8237-0198bc47a777.png)

Tested on GV 2.8

[2020-04-21 23:09] rafaehlers commented on #1445
https://secure.helpscout.net/conversation/1139599045/26430

[2020-04-22 19:37] #1445 closed

[2020-04-23 01:07] rafaehlers opened #1447 "Editing an entry that used to be a partial entry, duplicates that entry"
How to reproduce:

1) Open a form with Partial Entries enable. Start filling it;
2) Wait until that entry turns into a Partial entry;
3) Once the partial is created, complete the rest of the form and submit it;
4) Go to GravityView and edit that entry.

![image](https://user-images.githubusercontent.com/1222472/80048031-61b74780-84e5-11ea-8735-2909dce70f7b.png)

Video: https://take.ms/9m3Wf
Tested

[2020-04-23 01:07] rafaehlers commented on #1447
https://secure.helpscout.net/conversation/1143787087/26533

[2020-04-26 13:27] soulseekah commented on #1437
The legacy API is updates via `Legacy_Context::push` and `Legacy_Context::load`.

For single entries the context is pushed for the first time during `GV\Entry_Renderer::render` which is spawned via `the_content` filter for the page. So we're definitely a bit late to set anything before the content based on legacy context.

![image](https://user-images.githubusercontent.com/685880/80308701-046b1100

[2020-04-27 22:58] rafaehlers commented on #1271
Fixed with DT 2.4.3 and GV 2.8.1

[2020-04-27 22:58] #1271 closed

[2020-04-29 17:08] zackkatz opened #1448 "Sorting only possible by fields that are added to View configuration"
It appears that only fields that are in the View configuration can be sorted by. This is not documented anywhere (as far as I know) and is unexpected, since the fields are visible in the Sort options.

- Remove field from sorting options when not added to View
- Make it possible to sort by fields that aren't in a View configuration

[2020-04-29 21:33] rafaehlers commented on #1448
I think this restriction is for DT layouts only.

[2020-05-01 01:27] zackkatz opened #1449 "Better support Date Updated"
- Add a GravityView field for Date Updated
- Add Date Updated to supported sorting options

[2020-05-01 22:14] zackkatz opened #1450 "Add starter fields to layouts after picking a View Type"
This will make Views more usable out of the box.

Possible configuration:

- First form field (or Entry ID, or all form fields?), with first field linking to Single Entry
- Single Entry: All form fields, with Edit Entry link

[2020-05-04 17:59] zackkatz opened #1451 "Add support for embedding with WooCommerce Account Pages"
Customers have reported that Edit Entry functionality for Views embedded in WooCommerce Account Pages don't work properly.

Iconic support says:

[See login to download WooCommerce Account Pages](https://docs.gravityview.co/article/343-logins)

Related to #946, #1524, #939

Ehlers: Here's a possible workaround for this issue: https://docs.gravitykit.com/article/845-embedding-the-edit-entry-form-in

[2020-05-04 18:00] zackkatz commented on #1451
https://secure.helpscout.net/conversation/581890986/14679/

[2020-05-04 18:00] zackkatz commented on #1451
https://secure.helpscout.net/conversation/604599968/15519/

[2020-05-04 19:12] bennemann commented on #1195
https://secure.helpscout.net/conversation/1153583052/26753/

[2020-05-04 19:14] zackkatz commented on #1195
@bennemann There's a "show score" checkbox in the survey field

[2020-05-05 00:30] rafaehlers opened #1452 "Remove the sort capability of the Duplicate Entry field"
![image](https://user-images.githubusercontent.com/1222472/81025828-69b0a900-8e4e-11ea-9cf4-964177397f7b.png)

[2020-05-07 01:48] rafaehlers opened #1453 "Quiz Fields - GravityView doesn't know how to sort them"
They are alpha-sorted:

![image](https://user-images.githubusercontent.com/1222472/81245505-8afacc00-8feb-11ea-80fa-6365130bab9b.png)

![image](https://user-images.githubusercontent.com/1222472/81245508-8cc48f80-8feb-11ea-8bef-40be6ae9d506.png)

## They sort correctly on Gravity Forms though

![image](https://user-images.githubusercontent.com/1222472/81245570-af56a880-8feb-11ea-98cf-f86ebbf8d346.p

[2020-05-07 01:49] rafaehlers commented on #1453
https://secure.helpscout.net/conversation/1156156084/26804/

[2020-05-08 21:29] rafaehlers commented on #1238
Definitely not working:

![image](https://user-images.githubusercontent.com/1222472/81450913-c1565980-9159-11ea-980d-95dbd4ad2ba9.png)

![image](https://user-images.githubusercontent.com/1222472/81450895-b26fa700-9159-11ea-9874-c0417a291db2.png)

[2020-05-08 21:30] rafaehlers commented on #1238
https://secure.helpscout.net/conversation/1159906191/26867/

[2020-05-13 17:45] bennemann opened #1454 "Missing map files for tippy.min.js and popper.min.js"
The map files for two minified JS libs used in GV are missing (tippy.min.js and popper.min.js).

This is causing 404 errors to be thrown in the console:

![ksnip_20200513-194052](https://user-images.githubusercontent.com/5726194/81846003-b2a0e580-9551-11ea-8493-7203bb4550e0.png)

[2020-05-13 17:46] bennemann commented on #1454
https://secure.helpscout.net/conversation/1163996789/26939?folderId=408730

[2020-05-13 17:46] bennemann commented on #1454
https://secure.helpscout.net/conversation/1163995368/26938?folderId=408735

[2020-05-15 21:12] rafaehlers commented on #928
This is not considered a bug anymore, but useful functionality.

[2020-05-15 21:12] #928 closed

[2020-05-15 21:15] rafaehlers commented on #773
https://github.com/gravityview/GravityView/issues/669

[2020-05-15 21:16] #574 closed

[2020-05-15 21:18] rafaehlers commented on #559
We still don't have this in GV 2.8.1

[2020-05-15 21:37] zackkatz commented on #559
Does it need to be an "all" link? What about an "x" icon next to the active link?

If "all" link is needed, should it appear first, last, or outside the list?

@rafaehlers

[2020-05-15 23:31] rafaehlers commented on #559
By putting an "x" icon next to the active link, leads me to think it'll work like tags, and I can click on other links to increment the search.

The "All" link will work as a Reset, which we already have and in order to display that, we'll need to check if that's the only filter available on the Search Bar. Honestly, this is duplicating functionality. I think we should abandon this idea at all.

[2020-05-16 00:40] rafaehlers commented on #1173
https://secure.helpscout.net/conversation/1166721950/26995/

[2020-05-21 03:54] rafaehlers opened #1455 "Add a filter or toggle on GravityView's Settings to display form and field IDs in the editor"
The idea is to make this information more visible:

![image](https://user-images.githubusercontent.com/1222472/82521642-9545bb80-9afd-11ea-97a8-85ea4c11011e.png)

[2020-05-21 03:55] rafaehlers commented on #1455
https://secure.helpscout.net/conversation/1059473879/24880

[2020-05-21 03:55] rafaehlers commented on #1455
https://secure.helpscout.net/conversation/961165517/22578

[2020-05-23 04:35] rafaehlers commented on #854
This will be the new one: https://github.com/gravityview/Advanced-Filter/issues/85

[2020-05-25 16:40] rafaehlers opened #1458 "Input the license key, activate it and hide it from the end user"
This will be useful for agencies or web devs that don't want their clients to have access to their keys.

Related: https://secure.helpscout.net/conversation/1174265818/27112

[2020-05-26 16:02] trankevin commented on #1447
@rafaehlers Just wondering if there's a solution for this?

[2020-05-26 17:18] bennemann commented on #1447
https://secure.helpscout.net/conversation/1176395900/27158?folderId=408730

[2020-05-26 20:20] rafaehlers opened #1459 "Search Bar: add an anchor to the resulting URL in order to scroll to the results"
From a user:

This is a recurring question.

[2020-05-26 20:22] rafaehlers commented on #1459
https://secure.helpscout.net/conversation/1176059834/27152/

[2020-06-02 00:09] zackkatz commented on #1452
Closed by 86301fb9c

[2020-06-02 00:17] #1452 closed

[2020-06-02 20:39] zackkatz commented on #1381
Prior requests:

https://secure.helpscout.net/conversation/1148735457/26626
https://secure.helpscout.net/conversation/450960053/11638
https://secure.helpscout.net/conversation/606719946/15566
https://secure.helpscout.net/conversation/696357471/17395

[2020-06-02 21:24] #1449 closed

[2020-06-04 19:05] rafaehlers opened #1460 "Search Bar: Entry Date is always set to Date Range"
Adding the Entry Date field to a Search Bar always result in a date range (two fields) on the front-end, even when selecting just "Date":

![image](https://user-images.githubusercontent.com/1222472/83799949-fbdde400-a67c-11ea-9f17-694a4dbcc5b6.png)

![image](https://user-images.githubusercontent.com/1222472/83800018-1c0da300-a67d-11ea-9f09-23cddf9f4b0e.png)

Tested on GV 2.8.1

[2020-06-04 19:06] rafaehlers commented on #1460
https://secure.helpscout.net/conversation/1184436791/27312

[2020-06-09 22:59] rafaehlers commented on #1414
Changing the entry creator would be awesome too!

[2020-06-10 11:53] bennemann commented on #1454
https://secure.helpscout.net/conversation/1190437799/27432?folderId=408730

[2020-06-11 20:40] mfitzz10 opened #1462 "Logged in user conditions"
Is there a merge tag available to use for logged in users?
For example:
'Include results if **Any** match:
Created by: **Logged in User** - OK
Supervisor [field]: **Logged in User** - Not available

[2020-06-11 21:59] rafaehlers commented on #1462
@mfitzz10 for support questions, please contact us at: https://gravityview.co/support/

[2020-06-11 21:59] #1462 closed

[2020-06-11 22:02] mfitzz10 commented on #1462
I’m working on a client’s site in which I do not have access to their gravity view account to log in to ask the support question

Please advise if possible

[2020-06-11 22:25] zackkatz commented on #1462
@mfitzz10 you can email support@gravityview.co

[2020-06-13 16:23] zackkatz commented on #946
@rafaehlers @bennemann Please reproduce this on `try`.

[2020-06-13 16:25] zackkatz opened #1463 "Modify [gravityview] shortcode to allow embedding edit entry directly."
This is possible with oEmbed, but not with the shortcode, now that I'm looking at the code.

[2020-06-13 16:26] zackkatz opened #1464 "Add a View setting so that if there are no entries in a View, it shows a form/message/redirects to URL."

[2020-06-14 06:24] sugarfunk opened #1465 "Guest access to Edit."
Maybe the functionality is there, but I can't figure it out. Is it possible to allow non-logged in users to submit edits on the front end that still require approval?

[2020-06-14 15:53] sugarfunk commented on #1465
https://gist.github.com/zackkatz/c0cc890ee311bab9893f47288e358b05 resolves

[2020-06-14 16:16] sugarfunk commented on #1465
Okay, so I can get non-logged in users access to edit, but it bypasses approval requirements and publishes without review. Can I have my cake and eat it too?

[2020-06-14 17:44] #1465 closed

[2020-06-18 16:55] bennemann commented on #1426
https://secure.helpscout.net/conversation/1197618575/27559?folderId=408730

[2020-06-18 17:30] zackkatz opened #1466 "Add integration with Elementor for Styling"
Elementor is one of the most popular page builders. Gravity Forms has support for customizing element design. GravityView can support this as well.

Also, make sure we can use Elementor uses the Single Entry Title specified:

![image](https://github.com/GravityKit/GravityView/assets/1222472/71f24578-92d1-4a25-bd0b-a95225244f3f)

[2020-06-18 18:52] bennemann opened #1467 "DataTables pagination doesn't work in GravityView v2.9"
When you try to change page the ajax call always returns the same dataset.

This was also confirmed by @rafaehlers who made a video illustrating the issue:
https://monosnap.com/direct/CE8RXzeRHeUbRA6zpd1RwBgkSREiPz

It doesn't happen when using the Table layout but when downgrading GV to v2.8.1, DataTables pagination works as expected, so definitely a GV v2.9 issue and not a specific DataTables ex

[2020-06-18 19:24] zackkatz commented on #1467
@soulseekah please investigate! This is due to the GF_Query moving PR.

[2020-06-18 22:30] rafaehlers commented on #1464
https://github.com/gravityview/GravityView/issues/1217

[2020-06-18 22:33] rafaehlers opened #1468 "View Settings > add option to redirect after deleting"
Similar to what we have for after editing an entry:

![image](https://user-images.githubusercontent.com/1222472/85078315-8c96e280-b19a-11ea-90ca-97008414c6f2.png)

- Add a new Delete Entry tab to the View settings
- Add a new setting called `delete_redirect` based on `edit_redirect` https://github.com/gravityview/GravityView/blob/main/future/includes/class-gv-settings-view.php#L382-L394
- Clone ht

[2020-06-18 22:33] rafaehlers commented on #1468
https://secure.helpscout.net/conversation/1199100107/27587

[2020-06-19 15:00] trankevin commented on #1447
@bennemann sorry how do I access those links?

[2020-06-19 20:44] rafaehlers commented on #1447
@trankevin those are internal links, meant for our team only. There's no solution yet for this.

[2020-06-22 23:27] rafaehlers commented on #1451
https://secure.helpscout.net/conversation/1201271900/27645/

[2020-06-24 16:35] bennemann commented on #1447
https://secure.helpscout.net/conversation/1203642212/27693/

[2020-06-29 14:39] mrcasual opened #1469 "Gravity Forms v2.5 compatibility"
GF v2.5 comes with a revamped UI and some breaking changes that affect GV core and a couple of extensions. [June 29 changelog](https://github.com/gravityforms/gravityforms/blob/9373c0531f7a59fd921cb7e1fe45a126a9df838c/change_log_temp.txt).

Known issues:

- GF Form Editor
   - [x] Connected views and calendar feeds are not displayed (https://i.imgur.com/srxszR5.png)

- GF Form Settings (Feeds)

[2020-06-29 14:54] mrcasual opened #1470 "Entry or entry comment fails to be associated to the form/entry"
A bug that's hard to reproduce yet it's been noted to happen when [submitting a rating/review](https://i.imgur.com/wpT78XW.png) and [importing entries](https://github.com/gravityview/Import-Entries/issues/373).

In the case of Ratings/Reviews, everything works when switching to GV v2.7, reloading the submission page and leaving a rating. In fact, submission continues to work when switching back to

[2020-07-01 00:23] rafaehlers opened #1471 "Multisite update issues"
It seems that the updater class is not properly working on multisite environments. 2 clients reported already.

Related: https://github.com/gravityview/GravityView/issues/989 and https://github.com/gravityview/GravityView/issues/258

[2020-07-01 00:23] rafaehlers commented on #1471
https://secure.helpscout.net/conversation/1211916264/27812/

[2020-07-01 01:26] rafaehlers opened #1472 "The [gravityview] shortcode has a "class" parameter which doesn't work"
![image](https://user-images.githubusercontent.com/1222472/86192752-ab915f00-bb20-11ea-8c98-b2e1995c66f3.png)

From: https://docs.gravityview.co/article/73-using-the-shortcode
Tested on GV 2.8.1

[2020-07-06 01:40] zackkatz opened #1473 "Consider adding @hooked to hooks like WooCommerce to show where hooks are used"
This lists the methods and functions that are using hooks by added `@hooked` docBlock above the filter.

https://github.com/woocommerce/woocommerce/wiki/Template-File-Guidelines-for-Devs-and-Theme-Authors#action-and-filter-hooks

[2020-07-07 21:19] rafaehlers opened #1474 "CSV export > add filter to pick separator type"
Feedback from a user:

[2020-07-07 21:19] rafaehlers commented on #1474
https://secure.helpscout.net/conversation/1217540325/27911

[2020-07-09 18:21] bennemann commented on #672
https://secure.helpscout.net/conversation/1220073166/27958?folderId=408730

[2020-07-16 02:35] rafaehlers commented on #921
Limit the date range: https://secure.helpscout.net/conversation/1226107128/28047/

[2020-07-17 00:39] #1472 closed

[2020-07-17 20:54] rafaehlers commented on #939
https://secure.helpscout.net/conversation/1228591287/28094

[2020-07-17 20:55] rafaehlers opened #1476 "All filter to control if Show Label is set by default"
A filter might do:

![DKWoJKu](https://user-images.githubusercontent.com/1222472/87830084-b8b78900-c856-11ea-8dec-59054a3e7dfd.png)

[2020-07-17 20:56] rafaehlers commented on #1476
https://secure.helpscout.net/conversation/1228509576/28092

[2020-07-22 01:27] zackkatz commented on #721
https://secure.helpscout.net/conversation/1232452990/28187?folderId=408730

[2020-07-23 13:55] claygriffiths opened #1477 "GravityView 2.9 loading all forms on every request and causing issues with GP Terms of Service"
Hey GravityView team!

We had a few customers write in noting that they were running into issues when using [GP Terms of Service](https://gravitywiz.com/documentation/gravity-forms-terms-of-service/) with GravityView 2.9.

After doing a `git bisect`, we tracked the issue down 6339b93db49f4ba84f709444958ac261cc599d7a. In 6339b93db49f4ba84f709444958ac261cc599d7a, a new widget is added and in its con

[2020-07-23 14:36] bennemann opened #1478 "Map Icon Picker field doesn't work in GravityView v2.9"
Map Icon Picker field doesn't show anything when added to a Form:

![ksnip_20200723-163124](https://user-images.githubusercontent.com/5726194/88298919-0b36f080-cd02-11ea-82a9-d80227743474.png)

It works normally when downgrading back to v2.8.1.

There are no console errors and no differences between the versions in the GV debug log.

[2020-07-23 14:37] bennemann commented on #1478
https://secure.helpscout.net/conversation/1232204210/28176?folderId=408730

[2020-07-23 19:50] #1265 closed

[2020-07-23 20:36] #1477 closed

[2020-07-23 20:36] #1478 closed

[2020-07-24 02:03] rafaehlers commented on #1238
https://secure.helpscout.net/conversation/1233361281/28210/

[2020-07-28 01:07] zackkatz opened #1480 "Make it clear that entries need to be approved"
When setting up a View for the first time, it's hard to know that "Show only approved entries" is checked.

Onboarding is needed!

[2020-07-28 02:50] rafaehlers opened #1481 "Bug when editing Multi Select fields choices up to 100 characters"
GravityView doesn't recognize a selected choice in a Multi Select field if this choice is closer to 100 characters in length

Tested with GV 2.9 and 2.9.1, GFs 2.4.17 and 2.4.19.1

String tested `Community and/or village hall, provision, management and administration of facilities for the benefit of the community`

Video: https://take.ms/2JSpT

[2020-07-28 02:50] rafaehlers commented on #1481
https://secure.helpscout.net/conversation/1233812335/28221

[2020-07-29 02:43] rafaehlers opened #1482 "404 Errors from tippy.min.js.map files"
![image](https://user-images.githubusercontent.com/1222472/88750481-01f7ba80-d12c-11ea-9b05-ec272badd514.png)

[2020-07-29 08:11] bennemann commented on #1482
Same as [#1454](https://github.com/gravityview/GravityView/issues/1454)

[2020-07-30 13:13] zackkatz commented on #1482
Closed as duplicate

[2020-07-30 13:13] #1482 closed

[2020-07-30 13:40] zackkatz commented on #1481
@rafaehlers There are a lot of factors here.

- Have you confirmed this behavior on the front-end Gravity Forms form (back-end has very little validation)
- What about the javascript choice picker? If that's disabled, does it work?
- Does it work if you shorten the length of the field?

[2020-07-30 22:13] rafaehlers commented on #1481
@zackkatz
- Yes, it only affects GV's Edit Entry;
- Nope, it doesn't work in both ways;
- Yes, it does. The problem is with this lengthy option

[2020-07-31 02:18] rafaehlers opened #1483 "Add a "Bulk Action" field"
Edit by Zack: I've moved this issue [to its own repo](https://github.com/gravityview/Bulk-Actions)

[2020-07-31 02:56] rafaehlers commented on #1413
https://secure.helpscout.net/conversation/1240696293/28372/

[2020-08-03 11:52] soulseekah commented on #1413
Didn't https://github.com/gravityview/GravityView/issues/1230 fix this?

[2020-08-03 12:18] soulseekah commented on #1381
# Filtering

Filtering has to happen **after** sorting. PHP-side filtering is a subset of SQL filtering. Just like with sorting, all limits have to be taken off in order to keep pagination intact (if LIMIT 20 entries are further filtered - we're in trouble). There are 3 modes of filtering possible:

1. Full PHP filtering, where if a callback exists on the `gravityview/entries/filter` filter, then

[2020-08-03 14:10] zackkatz commented on #1381
@soulseekah Augmented (option 2) sounds good.

Will this continue to work with joins/unions?

[2020-08-03 17:05] soulseekah commented on #1381
Well unions are just a shitton of entries one after the other, they'll have different form IDs; for joins the entries that come back are `Multi_Entry` objects, so developers can use `->is_multi()`, etc. It should work really well. I've given this quite a bit of thought, thus the holdup. But I think I can start coding it this week. Excited.

[2020-08-04 05:13] rafaehlers commented on #1317
https://secure.helpscout.net/conversation/1243543460/28402

[2020-08-04 05:16] rafaehlers commented on #1317
https://secure.helpscout.net/conversation/1226818641/28060/

[2020-08-04 22:53] rafaehlers commented on #1308
@soulseekah not working here: https://secure.helpscout.net/conversation/1221497152/27985/

[2020-08-05 03:00] rajapss commented on #1317
I need a small favor, I added a new custom field of the post with a file in my client's gravity form. Also mapped the existing custom_field name for it. When I upload the jpg file from gravity form. Uploaded jpg image is not visible in my post and also it is not visible in the gravity view edit section. Kindly do the needful. Thank You !!

[2020-08-05 20:52] rafaehlers commented on #1470
https://secure.helpscout.net/conversation/1245978990/28457/

[2020-08-07 00:07] rafaehlers commented on #1414
https://github.com/gravityview/GravityView/issues/721

[2020-08-07 00:08] rafaehlers commented on #721
https://secure.helpscout.net/conversation/1247497547/28494

[2020-08-07 00:56] rafaehlers commented on #939
https://secure.helpscout.net/conversation/1244597578/28423/

[2020-08-07 16:45] zackkatz opened #1485 "REST API settings can be broken due to auto-hiding in UI"
**Describe the Issue**

1. Disable REST API globally
1. Enable REST API in a View
1. Enable REST API globally

**What happens:**

The View will not show that REST API is disabled because the setting will be hidden:

![slack-imgs](https://user-images.githubusercontent.com/870979/89668350-9809ae80-d8ab-11ea-8b04-a2c2dcf32de4.png)

**What should happen:**

The View should indicate that the REST API i

[2020-08-07 16:50] zackkatz commented on #1485
This happened on Gravity Forms' site.

Can't reproduce, but wanted to have it here for posterity.

The issue is likely with this logic:

[code]

[2020-08-07 16:53] #1485 closed

[2020-08-11 15:48] bennemann opened #1486 "Hardcoded license key always returns "Key entered is invalid" on Multisite subsites"
When GravityView is Network Deactivated and GRAVITYVIEW_LICENSE_KEY is hardcoded in wp-config.php, new subsites always get "_The license key entered is invalid._" status message when locally activating the plugin.

Steps to reproduce:
1) Hardcode GRAVITYVIEW_LICENSE_KEY on a multisite install.
2) Network deactivate GravityView.
3) Create a subsite and activate GravityView only for that site.

![ks

[2020-08-11 15:49] bennemann commented on #1486
https://secure.helpscout.net/conversation/1250891599/28561?folderId=408730

[2020-08-15 08:39] rafaehlers commented on #939
Related: https://github.com/gravityview/GravityView/issues/1451

[2020-08-18 23:47] rafaehlers opened #1489 "Namespace GravityView jQuery UI CSS rules: They conflict with User Role Editor"
We need to wrap the `.ui-front` in a `<body>` rule.

![image](https://user-images.githubusercontent.com/1222472/90576168-cc2a7c80-e193-11ea-816f-d6d12108638e.png)

Reported by: https://secure.helpscout.net/conversation/1255151822/28645

[2020-08-20 09:29] soulseekah commented on #1381
The next step is to make it work with Custom Content fields in GravityView by default.

- [ ] make it work

[2020-08-20 14:24] soulseekah commented on #1381
For the documentation: `gravityview/view/remove_filtersorts` and `gravityview/view/add_filtersorts` are the two actions in which PHP filtersorts should be added/removed.

[2020-08-24 21:04] zackkatz commented on #486
This doesn't really happen anymore…

[2020-08-24 21:04] #486 closed

[2020-08-25 02:30] rafaehlers commented on #1268
FYI at this moment, only this add-on is supported: https://wordpress.org/plugins/gravity-forms-custom-post-types/

[2020-08-25 07:06] soulseekah commented on #1381
- [ ] make it work with DataTables :(

[2020-08-25 13:43] soulseekah commented on #1381
A bit of documentation:

## PHP Sorts and Filters

GravityView now allows developers to sort and filter queried entries in arbitrary complex ways (non-deterministic! ones, even). A great example of this functionality is rolled out in GravityView core as support for sorting Custom Content fields, which can be as dynamic and random as possible.

### Considerations

PHP filtering and sorting is much

[2020-08-26 21:19] rafaehlers commented on #1308
https://secure.helpscout.net/conversation/1257628778/28701/

[2020-08-28 09:51] bennemann commented on #1470
https://secure.helpscout.net/conversation/1266012869/28902

[2020-09-01 01:35] rafaehlers commented on #1474
Might there be a fix already: https://github.com/gravityview/GravityView/pull/1359

[2020-09-01 04:46] rafaehlers opened #1493 "Fatal Error when setting gravityview_search_operator filter to 'is'"
The combination of this filter:

[code]

...with the `Show only approved entries` AND having the `Edit Entry` field added to the View...

![image](https://user-images.githubusercontent.com/1222472/91795756-e2edbc00-ebf4-11ea-99c9-9e8fc46a66b9.png)

... results in a fatal error:

[code]

Tested with GV 2.9.0.1
Reported by: https://secure.helpscout.net/conversation/1268661461/28944

[2020-09-01 22:11] #1454 closed

[2020-09-08 18:09] mrcasual commented on #1308
@soulseekah https://github.com/gravityview/GravityView/commit/f5e79faaab4609ca1de115d5f60616eb129a5dad and https://github.com/gravityview/Featured-Entries/commit/9e9b5e62f8e584b8aefd9d45a021a788ff7b6f6a break the search when a filter condition contains a multi-input field.

![](https://i.imgur.com/qs28jmZ.png)
![](https://i.imgur.com/JQ5NuIx.png)

...`meta_key` should have a `LIKE` operator. Could

[2020-09-09 18:07] zackkatz commented on #1470
Fixed here: https://github.com/gravityview/Ratings-Reviews/commit/69449a167e2491c813a565629c5fd1ebc4fab2c5

[2020-09-09 18:09] rafaehlers commented on #1470
https://github.com/gravityview/Import-Entries/issues/373

[2020-09-17 10:19] bennemann commented on #1397
https://secure.helpscout.net/conversation/1283258397/29271/

[2020-09-18 14:18] zackkatz opened #1495 "Clicking "Check license" on a disabled license key shows empty status"
When a license is disabled, this shows:

![](https://i.gravityview.co/qieUSw+)

What should show: "This license has been disabled.", and possibly the most common reason "Because the purchase was refunded."

Note to self/devs: the AJAX response includes:

[code]

[2020-09-21 23:10] rafaehlers commented on #1217
https://secure.helpscout.net/conversation/1285391847/29320

[2020-09-24 19:55] rafaehlers commented on #1082
https://secure.helpscout.net/conversation/1291500676/29447

[2020-10-01 17:15] bennemann commented on #1470
https://secure.helpscout.net/conversation/1297931210/29550/

[2020-10-02 15:48] bennemann commented on #1426
https://secure.helpscout.net/conversation/1298779840/29568

[2020-10-02 22:51] rafaehlers opened #1496 "/csv/ endpoint returning 404 on multisite installs"
As initially reported here: https://gravityview.slack.com/archives/CDSTQ9QQ0/p1600982570000600 and now here: https://secure.helpscout.net/conversation/1298755188/29567/

Steps to reproduce:

- Install GV on multisite
- [Enable CSV export in a View](https://docs.gravityview.co/article/491-csv-export)
- Access the `[URL to View]/csv/` endpoint
- 404 error

[2020-10-02 23:01] rafaehlers commented on #1325
https://secure.helpscout.net/conversation/1298458640/29561

[2020-10-05 15:32] #1495 closed

[2020-10-05 15:35] #759 closed

[2020-10-05 15:38] shamalisulakhe opened #1497 "Fatal error in installing GravityView plugin without Gravity Form plugin being active"
**Describe the Issue**
When installed GravityView plugin without the plugin gravity forms being active, it shows a fatal error when visited frontend

**PHP Fatal error: Uncaught Error: Class 'GV\View_Collection' not found in plugins/gravityview/includes/class-data.php:19**

--------

### Additional information
Steps to reproduce
1. Keep GravityForms plugin inactive
2. Install and activate GravityV

[2020-10-06 00:40] #995 closed

[2020-10-06 12:57] #1075 closed

[2020-10-06 13:01] shamalisulakhe opened #1498 "$_GET variables should be unslashed"
In the plugin code, $_GET, $_POST variables need to be unslashed before fetching values in them.

[2020-10-06 13:04] zackkatz commented on #1306
@shamalisulakhe There’s a “requires” array key that enables a JS toggle for checkboxes and dependent fields. Please enable for this setting.

[2020-10-06 13:21] shamalisulakhe commented on #1468
Resolved https://github.com/gravityview/GravityView/tree/issue/1468-delete-entry-redirect

Added options for delete redirect -
1. Redirect to multiple entries
2. Redirect to URL

[2020-10-07 11:13] shamalisulakhe commented on #1306
@zackkatz Added 'requires' key
https://github.com/gravityview/GravityView/commit/84af8de85e7cba2132277c828aa86faaa6165456

[2020-10-07 11:15] shamalisulakhe commented on #1306
In addition, I found that (on multiple entries page) if an entry field is linked to single entry, it is exported along with the URL in the CSV file.

For e.g. Name linked to single entry is exported as
<a href="http://site_url/view/test-form-view/entry/52/">John Doe</a>

[2020-10-07 11:35] shamalisulakhe commented on #1306
Solution - https://github.com/gravityview/GravityView/commit/1a3d7a8c9dffd3f4c5f6abdf0fcca84f098fcdd3

[2020-10-07 19:42] zackkatz commented on #1483
@shamalisulakhe Please review and then let's discuss.

Note: I planned for @mrcasual to handle the MySQL side in the "Processing entries" section. If you feel comfortable with that part, go ahead.

[2020-10-07 20:11] rafaehlers commented on #1285
@mrcasual ☝️

[2020-10-07 20:16] zackkatz commented on #1464
Closed as dupe.

[2020-10-07 20:16] #1464 closed

[2020-10-07 20:17] rafaehlers commented on #839
Related: https://github.com/gravityview/GravityView/issues/1468

[2020-10-07 20:19] rafaehlers commented on #830
I believe this can be solved with this: https://github.com/gravityview/GravityView/issues/1468

[2020-10-07 21:48] mrcasual commented on #1285
Done and done.

[2020-10-07 21:48] #1285 closed

[2020-10-09 23:17] rafaehlers commented on #1483
For reference: https://secure.helpscout.net/conversation/1305736380/29684

[2020-10-10 15:24] torkamanmahdi opened #1501 "search bar match all fields"
hi, in gravityview search bar with match all fields not working ! if you check match all fields or any just match any its worked.
i want work like this => **input text 1**  and   **input text 2**
see blow image:
https://pasteboard.co/Jv0XhYz.png

[2020-10-13 08:40] bennemann commented on #1483
https://secure.helpscout.net/conversation/1295792584/29510/

[2020-10-14 01:54] rafaehlers commented on #1308
https://secure.helpscout.net/conversation/1307804000/29710/

[2020-10-14 14:52] shamalisulakhe opened #1502 "Adding Unit test related files/folders in .gitignore"
The docker related files and folders used for unit testing can be added to .gitignore.

[2020-10-14 16:01] #1502 closed

[2020-10-14 17:05] bennemann commented on #1390
https://secure.helpscout.net/conversation/1305681927/29682

[2020-10-15 20:07] zackkatz opened #1506 "Merge tag dropdown causes short View Settings pane to scroll internally"
**Describe the Issue**

When a settings page isn't tall enough to contain a Merge Tags dropdown field picker, it causes the `<DIV>` to scroll internally. [See video of this behavior](https://i.gravityview.co/zSPRdZ)

[2020-10-15 22:35] rafaehlers opened #1507 "Enhancement: consider storing View defaults for each user"
From a user:

[2020-10-15 22:36] rafaehlers commented on #1507
https://secure.helpscout.net/conversation/1311005573/29777/

[2020-10-16 00:58] zackkatz commented on #1507
For now, here's a gist to override: https://gist.github.com/zackkatz/ce64a08a01f7209ff05422f9dcfa4749

[2020-10-16 20:32] rafaehlers opened #1508 "Tippy.js conflicts with Bootstrap based themes over .popover class"
The approval icons popover won't show if the theme is based on bootstrap.

Bootstrap's .popover class hides the approval icons.

![Covid Reporting –  TCSG-DEV  TCSG _ Technical Coll (1)](https://user-images.githubusercontent.com/1222472/96306131-76c4ed00-0fd5-11eb-8aad-53bd4a67a0a3.png)

Tested with GV 2.9.1 and Bootstrap v3.3.7 (http://getbootstrap.com)

[2020-10-16 20:33] rafaehlers commented on #1508
https://secure.helpscout.net/conversation/1310704922/29770/

[2020-10-19 16:15] shamalisulakhe commented on #1325
Added changes in this PR https://github.com/gravityview/GravityView/pull/1509

[2020-10-19 18:10] bennemann commented on #1483
https://secure.helpscout.net/conversation/1313738711/29829

[2020-10-20 01:01] rafaehlers commented on #1311
Works fine on GV 2.9.1

[2020-10-20 01:01] #1311 closed

[2020-10-20 01:25] rafaehlers commented on #1431
https://secure.helpscout.net/conversation/1314168444/29841

[2020-10-20 01:33] #1506 closed

[2020-10-20 01:37] #1306 closed

[2020-10-20 01:39] #1322 closed

[2020-10-20 01:46] zackkatz commented on #1364
@shamalisulakhe Please also make this happen for

- [ ] Duplicate entry field
- [ ] Approval link field

https://github.com/gravityview/GravityView/issues/1364#issuecomment-554603806

[2020-10-20 14:07] zackkatz opened #1512 "Convert "Change Entry Creator" to use selectWoo AJAX"
Moved this issue to [its own repo](https://github.com/gravityview/Bulk-Actions).

[2020-10-20 14:44] shamalisulakhe commented on #1364
@zackkatz  Checked for both.

Approval link column is not available if the user has no access to approve any of the entries.
Did changes to hide duplicate link column.

[2020-10-20 16:19] bennemann commented on #672
https://secure.helpscout.net/conversation/1314905147/29861

[2020-10-21 08:32] bennemann opened #1514 "Next / Previous Entry Links on Single Entry Screen"
When going through several entries, the only way to navigate them is to open multiple tabs or to wait for an extra page reload every time when going back to the Multiple Entries screen to click the next one.

We have a recurrent request for a "Next / Previous" entry navigation directly from the Single Entry screen.

[2020-10-21 08:32] bennemann commented on #1514
https://secure.helpscout.net/conversation/1154090472/26761/

[2020-10-21 08:32] bennemann commented on #1514
https://secure.helpscout.net/conversation/1315505360/29871/

[2020-10-21 11:51] bennemann commented on #718
https://secure.helpscout.net/conversation/1315040232/29867

[2020-10-21 14:55] mrcasual commented on #1325
[PR for this issue](https://github.com/gravityview/GravityView/pull/1504).

[2020-10-21 22:48] #1497 closed

[2020-10-21 22:48] #1447 closed

[2020-10-22 00:04] #1468 closed

[2020-10-23 18:50] wordinvestor opened #1519 "Password protection is not working"
**Describe the Issue**
I add password protection on gravityview but when embed it to page and enter my password then it refresh page and ask for password again.
Sometime it show content in incognito windows without password.

--------

### Additional information

**This issue happens in the following settings:**

_Please try to re-create the issue in each rendering mode. This helps debug the probl

[2020-10-23 18:52] rafaehlers commented on #1519
@wordinvestor the password should be set on the page where the [gravityview] shortcode is embedded, not on the View itself. For support issues, please use this form instead: https://gravityview.co/support/

[2020-10-23 18:52] #1519 closed

[2020-10-23 18:55] wordinvestor commented on #1519
so how to prevent unauthorize views if google or any other search engine which do not obey noindex nofollow crawl that entry?

[2020-10-26 04:23] rafaehlers commented on #1519
@wordinvestor https://docs.gravityview.co/article/522-preventing-views-and-entries-from-being-by-the-google-crawler-bot

[2020-10-26 04:37] rafaehlers commented on #830
https://secure.helpscout.net/conversation/1319279152/29934/

[2020-10-26 14:41] zackkatz commented on #1401
This was fixed in 2.9.2

[2020-10-26 14:41] #1401 closed

[2020-10-26 20:13] zackkatz opened #1520 "Bump to 5.6.20 minimum PHP version / 5.0 WP version"
🎉

[2020-10-26 21:13] zackkatz opened #1522 "Update download details in EDD when pushing a release"
Maybe this is best added to the [Release Manager](https://github.com/gravityview/Release-Manager)?

It involves updating Custom Post Type meta:

- [x] Update URL in EDD Download Files section

`edd_download_files` post meta is a multi-dimensional array with `file` and `name` keys:

1. Get the file key from `_edd_sl_upgrade_file_key` post meta
2. Set `edd_download_files` post meta to be `array( $fi

[2020-10-27 12:12] shamalisulakhe commented on #1512
@zackkatz Added PR https://github.com/gravityview/GravityView/pull/1523

Added selectWoo ajax for 'change entry creator' feature.
Required selectWoo files are added at assets/lib/selectWoo

Let me know if any changes are needed.

[2020-10-27 13:01] zackkatz opened #1524 "Improve membership plugin support"
I believe these are all related:

- [ ] #1451
- [ ] #939
- [x] #1373
- [x] #946
- [x] #1070
- [x] #1526

We need to better support GravityView embedded inside random stuff.

Single entry context doesn't work in [LifterLMS branch](https://github.com/gravityview/GravityView/tree/feature/lifterlms) or gravityview/Admin-Views#5. I believe this is related to #1437: the context isn't being set early eno

[2020-10-27 13:03] #1496 closed

[2020-10-27 13:05] zackkatz commented on #1467
Moving `GF_Query` was reverted, so it's "fixed".

[2020-10-27 13:05] #1467 closed

[2020-10-27 13:05] #923 closed

[2020-10-27 13:05] #1364 closed

[2020-10-27 13:06] zackkatz commented on #1238
@shamalisulakhe Can you please test this?

[2020-10-27 13:07] zackkatz commented on #1070
@shamalisulakhe Please take a look here.

[2020-10-27 13:08] zackkatz commented on #1413
@shamalisulakhe Please test this

[2020-10-27 20:17] Githubpowerusers commented on #1238
Hi rafaehlers & zackkatz

Have you ever got this working? If so would you please post your solution?
This is not working!

[gvlogic if="{Date Field:1}" greater_than_or_equals="today"] ... [/gvlogic ]

Thank you

[2020-10-28 22:03] rafaehlers commented on #1315
https://secure.helpscout.net/conversation/1322538861/30002/

[2020-10-29 11:48] shamalisulakhe commented on #1413
Tested with GV 2.9.2.1

Sorting by date and time works only if -
Sort by field - time
Sort by secondary field - date
And doesn't work in reverse case.

Debugging further.

[2020-10-29 16:43] rafaehlers commented on #1238
Related: https://github.com/gravityview/Advanced-Filter/pull/102

[2020-10-30 16:37] shamalisulakhe commented on #830
To redirect to multiple entries page with search parameters applied, a possible approach is -

If the redirect link is added to the URL of single entry like -
http://_site_url_/view/test-form-view/entry/123/?redirect_link=_site_url_/view/test-form-view/?gv_search=teststring&mode=any

This will take the redirect link from the URL and will redirect to -
_site_url_/view/test-form-view/?gv_search=test

[2020-10-30 17:42] shamalisulakhe opened #1525 "PHP notice - Undefined property: stdClass::$icons"
PHP Notice:  Undefined property: stdClass::$icons in plugins/gravityview/future/lib/EDD_SL_Plugin_Updater.php on line 145

[2020-11-02 08:55] bennemann commented on #946
https://secure.helpscout.net/conversation/1324254804/30048/

[2020-11-03 14:51] zackkatz opened #1526 "When embedding shortcode in BuddyBoss, single entry linking doesn't work out of the box"
This is likely related to #1451

[2020-11-03 18:50] zackkatz opened #1527 "Update EDDSL plugin code to support auto-updates"
## Support auto-updates

- [x] Update action from `admin_init` to `init`
- [x] Update library to version 1.9 https://i.gravityview.co/0oMqfv

https://easydigitaldownloads.com/development/2020/11/02/software-licensing-auto-updates/

[2020-11-04 10:17] bennemann commented on #718
https://secure.helpscout.net/conversation/1328541416/30112/

[2020-11-05 16:09] bennemann commented on #1524
https://secure.helpscout.net/conversation/1329023618/30117

[2020-11-05 16:56] bennemann commented on #1325
https://secure.helpscout.net/conversation/1329844803/30130

[2020-11-05 23:08] zackkatz commented on #1319
@shamalisulakhe can you please test, confirm, and close after testing:
https://github.com/gravityview/GravityView/issues/1319#issuecomment-545655492

[2020-11-06 13:26] shamalisulakhe commented on #1319
@zackkatz I tested this and found the following -

- [x] As admin - edit any views
- [x] As editor, contributor, author - can't edit views.
- [ ] Use some User Role Editor plugin, give 'unfiltered_html' cap to one of the above - be able to edit own views.
- [ ] add_filter( 'gravityview/security/require_unfiltered_html', '__return_false' ) - anyone above edit own views.

Point 3 - Tested with edito

[2020-11-06 13:46] shamalisulakhe commented on #1319
Issue occurred when an editor creates a view -
![Uploading editor-created-view-issue.gif…]()

[2020-11-06 13:49] shamalisulakhe commented on #1319
Added above the issue found when an editor adds a new view

[2020-11-12 19:47] rafaehlers opened #1529 "Field dashicons showing up on the front-end View"
When adding a field to the View editor that contains a dashicon, upon saving the View, that icon shows up on the View:

![image](https://user-images.githubusercontent.com/1222472/98988544-941ea580-2506-11eb-9160-5d02b91cbadd.png)

and that icon is rendered this way on the View editor:

![image](https://user-images.githubusercontent.com/1222472/98988616-a993cf80-2506-11eb-9fc4-5cb40bdc7f8e.png)

Te

[2020-11-12 20:23] rafaehlers commented on #1529
https://secure.helpscout.net/conversation/1333275542/30187

[2020-11-13 16:35] bennemann commented on #1470
https://secure.helpscout.net/conversation/1336855491/30252

[2020-11-13 17:52] bennemann commented on #1524
https://secure.helpscout.net/conversation/1337077734/30255

[2020-11-13 23:50] rafaehlers opened #1530 "Search Bar: support Gravity Flow special fields"
At this moment, our search bar can't search on Gravity Flow fields.

Tested with GV 2.9.2.1

[2020-11-13 23:50] rafaehlers commented on #1530
https://secure.helpscout.net/conversation/1337706958/30277

[2020-11-17 00:36] rafaehlers commented on #1458
https://secure.helpscout.net/conversation/1340292973/30624

[2020-11-17 11:23] zackkatz opened #1531 "Automatically detect when Yoast is installed"
And show a notice suggesting that the user install Social Sharing & SEO extension.

- Dismissable notice, per-user
- Show on the Settings, Edit View, and Manage Add-Ons pages

[2020-11-18 01:32] rafaehlers opened #1532 "Search Bar Enhancement: Trim whitespace before and after words"
When whitespace is left in the search field, that goes into the URL and sometimes break the search:

![image](https://user-images.githubusercontent.com/1222472/99471103-b6f4f380-2924-11eb-998d-00ea8f182726.png)

http://localhost/gravity/view/contact-form/?gv_search=alice+&mode=any (note the + sign)

Tested on GV 2.9.2.1

[2020-11-18 01:32] rafaehlers commented on #1532
https://secure.helpscout.net/conversation/1341526329/30665/

[2020-11-18 08:36] bennemann commented on #721
https://secure.helpscout.net/conversation/1341657200/30672